@import url(https://fonts.googleapis.com/css?family=ABeeZee);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400i,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow);
@import url(https://fonts.googleapis.com/css?family=Arimo:700);
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Bevan);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Cabin:700);
@import url(https://fonts.googleapis.com/css?family=Cardo);
@import url(https://fonts.googleapis.com/css?family=Chivo);
@import url(https://fonts.googleapis.com/css?family=Coustard);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400i);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(https://fonts.googleapis.com/css?family=Domine);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic);
@import url(https://fonts.googleapis.com/css?family=Gravitas+One);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:600);
@import url(https://fonts.googleapis.com/css?family=Lato:100,400,400i);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Muli:400);
@import url(https://fonts.googleapis.com/css?family=Neuton:400,700);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Ovo:400);
@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Righteous:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed);
@import url(https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded);
@import url(https://fonts.googleapis.com/css?family=Sarina);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Ultra);
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,300,900);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
body {
  font: 400 16px/22px 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #eee;
  background: #555; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.2em;
  font-weight: 400; }

h1 {
  font-size: 5.063em; }

h2 {
  font-size: 3.375em; }

h3 {
  font-size: 2.25em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: .8em; }

p {
  font-size: 1em; }

header,
section,
footer {
  position: relative;
  min-height: 50px;
  padding: 150px 0; }

a {
  color: inherit;
  text-decoration: none; }

.container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto; }

.row {
  width: 100%;
  overflow: auto; }

.meta-tag {
  position: absolute;
  opacity: .75;
  z-index: 10; }
  .meta-tag.light {
    color: #fff; }
  .meta-tag.dark {
    color: #444; }
    .meta-tag.dark span {
      border-color: #444; }

.day-index {
  top: 50px;
  left: 50%;
  margin-left: -17px;
  font-family: 'Open Sans', sans-serif;
  text-align: center; }
  .day-index span {
    display: inline-block;
    width: 34px;
    height: 34px;
    padding-top: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    box-sizing: border-box; }

.typeface-specimen {
  bottom: 50px;
  left: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.lyric-45 {
  height: 540px;
  color: #fdfdfd;
  background: #19AEA9;
  text-align: center; }
  .lyric-45 .circle {
    position: absolute;
    z-index: 0;
    top: 240px;
    height: 300px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    border-radius: 50%;
    text-align: center;
    background: #18A8A2; }
  .lyric-45 p {
    position: absolute;
    display: inline-block;
    top: 3em;
    width: 400px;
    margin-left: -200px;
    font: 400 22px / 1.6em 'Montserrat', sans-serif; }
  .lyric-45 p:last-of-type {
    top: auto;
    bottom: 1.75em; }
  .lyric-45 h2 {
    position: absolute;
    top: 385px;
    width: 100%;
    font: 400 42px / 1.75em 'Arvo', sans-serif;
    background: #149798; }
  .lyric-45 h6 {
    position: absolute;
    top: 560px;
    width: 100%;
    font: 300 34px / 1.75em 'Montserrat', sans-serif;
    color: #149798;
    text-align: center;
    text-transform: uppercase; }

.lyric-44 {
  background: #7f85ac; }
  .lyric-44 .container {
    padding: 10em 0 7em;
    width: 680px; }
  .lyric-44 h1 {
    margin-bottom: 40px;
    font: 900 96px / .9em 'Source Serif Pro', serif;
    color: #696f99; }
  .lyric-44 p {
    font: 300 32px / 1.4em 'Source Sans Pro', sans-serif;
    color: #404E4D; }
  .lyric-44 h6 {
    display: inline-block;
    padding: 1em 0;
    margin: 2em 0;
    font: 900 24px / 1.4em 'Source Serif Pro', serif;
    color: #404E4D;
    text-transform: uppercase;
    border-top: 6px solid #404E4D; }

.lyric-43 {
  background: url("img/nebula-purple.jpg");
  background-size: cover;
  height: 600px; }
  .lyric-43 .text-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 400px 0 350px;
    color: #d9d5a6;
    text-align: center;
    background: rgba(0, 0, 0, 0.6); }
  .lyric-43 p {
    font: 400 20px / 1.4em 'PT Serif', serif;
    width: 380px;
    margin: 0 auto 1.5em; }
  .lyric-43 h6 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase; }

.lyric-42 {
  padding: 200px 0;
  background: #466AAB;
  text-align: center; }
  .lyric-42 .container {
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 260px; }
  .lyric-42 h1 {
    margin-bottom: .25em;
    font: 400 620px / .8em 'Ultra', sans-serif;
    text-align: center;
    opacity: .3; }
  .lyric-42 p {
    font: 400 24px / 2.1em 'Archivo Narrow', sans-serif;
    color: #fff;
    text-transform: uppercase; }
    .lyric-42 p span {
      font-size: 36px;
      font-family: 'Bevan';
      letter-spacing: .04em; }
  .lyric-42 h6 {
    margin-top: 3em;
    font: 400 24px / 2em 'Archivo Narrow', sans-serif;
    text-transform: uppercase; }

.lyric-41 {
  padding: 240px 0;
  background: #eee; }
  .lyric-41 .container {
    width: 860px; }
  .lyric-41 .intro {
    font-weight: 700; }
  .lyric-41 .indent {
    padding-right: 2em; }
  .lyric-41 h1 {
    margin: 0 0 .75em;
    color: #374251;
    font: 900 68px / 1.6em 'Alegreya Sans', serif;
    text-align: center;
    border-top: 4px solid #374251;
    border-bottom: 4px solid #374251; }
  .lyric-41 p {
    font: 400 15px / 1.35em 'Vollkorn', serif;
    color: #374251;
    text-align: justify;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }
  .lyric-41 h6 {
    margin: 2em auto;
    padding: .25em .5em;
    font: 900 16px / 2em 'Alegreya Sans', serif;
    letter-spacing: .08em;
    color: #374251;
    text-transform: uppercase;
    text-align: center; }

.lyric-40 {
  height: 630px;
  background: #3B596A;
  text-align: center; }
  .lyric-40 p {
    position: absolute;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    z-index: 10;
    top: 350px;
    font: 700 24px / 3em 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em; }
  .lyric-40 span.lyric:nth-of-type(1) {
    color: #3F9A82; }
  .lyric-40 span.lyric:nth-of-type(2) {
    color: #A1CD73; }
  .lyric-40 span.lyric:nth-of-type(3) {
    color: #ECDB60; }
  .lyric-40 h6 {
    position: absolute;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    top: 200px;
    font: 400 128px / 1em 'Ovo', serif;
    color: #427676;
    text-transform: uppercase;
    overflow-wrap: break-word;
    word-wrap: break-word; }

.lyric-39 {
  position: relative;
  height: 900px;
  background: #BE90D4; }
  .lyric-39 .container {
    text-align: center; }
  .lyric-39 p {
    font: 400 50px / 1.3em 'Bevan', serif; }
  .lyric-39 p.foreground {
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 200px;
    z-index: 10;
    color: #fff; }
  .lyric-39 p.background {
    position: absolute;
    left: 50%;
    margin-left: -304px;
    top: 200px;
    width: 600px;
    z-index: 0;
    color: #BE90D4;
    text-shadow: -4px 4px 0 #753992; }

.lyric-38 {
  position: relative;
  height: 420px; }
  .lyric-38 .container {
    position: absolute;
    width: 540px;
    left: 50%;
    margin-left: -270px;
    top: 200px;
    z-index: 10;
    text-align: center;
    overflow: auto; }
  .lyric-38 .right-pane--body,
  .lyric-38 .left-pane--body,
  .lyric-38 .right-pane--text,
  .lyric-38 .left-pane--text {
    float: left;
    width: 50%; }
  .lyric-38 .right-pane--body,
  .lyric-38 .left-pane--body {
    top: 0;
    position: absolute;
    height: 100%;
    z-index: 0; }
  .lyric-38 .right-pane--body {
    background: #EBE3DF;
    right: 0; }
  .lyric-38 .left-pane--body {
    background: #252628;
    left: 0; }
  .lyric-38 .right-pane--text {
    color: #252628; }
  .lyric-38 .left-pane--text {
    color: #EBE3DF; }
  .lyric-38 p {
    width: 75%;
    margin: 2em auto;
    font: 400 24px / 2em 'Libre Baskerville', serif; }
  .lyric-38 h6 {
    display: inline-block;
    margin-top: 80px;
    padding: 0 1.5em;
    font: 400 14px / 2.8em 'Libre Baskerville', serif;
    letter-spacing: .08em;
    color: #252628;
    background: #EBE3DF;
    text-align: center;
    text-transform: uppercase; }

.lyric-37 {
  padding: 200px 0;
  background: #332532; }
  .lyric-37 .container {
    position: relative;
    width: 450px;
    text-align: center; }
  .lyric-37 h2 {
    font: 400 108px / 1em 'Righteous', sans-serif;
    color: #FF974F; }
  .lyric-37 h3 {
    font: 400 80px / 1em 'Righteous', sans-serif;
    color: #FF974F;
    text-align: right; }
    .lyric-37 h3 span {
      position: absolute;
      top: 118px;
      left: 10px;
      font-size: 40px;
      line-height: 1em;
      text-align: center;
      border-bottom: 16px solid #ff974f; }
  .lyric-37 h4 {
    font: 400 76px / 1em 'Monoton', sans-serif;
    color: #F77A52; }
  .lyric-37 h5 {
    margin-bottom: 2em;
    font: 400 39px / 1.2em 'Righteous', sans-serif;
    color: #A49A87; }
    .lyric-37 h5 span {
      font-size: 42px; }
  .lyric-37 h6 {
    font: 400 40px / 1em 'Righteous', sans-serif;
    color: #644D52;
    text-transform: uppercase; }

.lyric-36 {
  text-align: center;
  padding: 260px 0;
  background: #55acee; }
  .lyric-36 p {
    font: 400 40px / 2em 'Source Sans Pro', sans-serif;
    color: #fff; }
  .lyric-36 h6 {
    font: 400 30px / 2em 'Source Sans Pro', sans-serif;
    color: #e1e8ed; }
@keyframes blink {
  0%, 25%, 75%, 100% {
    opacity: 1; }
  30%, 70% {
    opacity: 0; } }
  .lyric-36 .cursor {
    display: inline-block;
    height: 36px;
    background: #fff;
    width: 3px;
    animation: blink .75s ease-in-out infinite; }

.lyric-35 {
  padding: 220px 0;
  background: #3F536E; }
  .lyric-35 .container {
    width: 550px;
    text-align: center; }
  .lyric-35 h2 span, .lyric-35 h3 span, .lyric-35 h4 span, .lyric-35 h5 span {
    font-family: 'Playfair Display', serif; }
  .lyric-35 h4 {
    font: 400 30px / 1.4em 'Playfair Display SC', serif; }
    .lyric-35 h4:first-of-type {
      font-size: 62px; }
  .lyric-35 h2 {
    font: 400 30px / 1.4em 'Abril Fatface', serif; }
    .lyric-35 h2:first-of-type {
      font-size: 40px; }
    .lyric-35 h2:nth-of-type(2) {
      font-size: 70px; }
    .lyric-35 h2:last-of-type {
      font-size: 86px; }
  .lyric-35 h5 {
    font: 400 30px / 1.4em 'Playfair Display SC', serif; }
    .lyric-35 h5:first-of-type {
      font-size: 31px; }
    .lyric-35 h5:last-of-type {
      margin-bottom: 1em; }
  .lyric-35 h6 {
    font: 400 22px / 2em 'Playfair Display', serif; }
  .lyric-35 hr {
    height: 14px;
    background: #fff;
    border: 0; }

.lyric-34 {
  padding: 240px 0;
  background: #6EA89C; }
  .lyric-34 .container {
    width: 590px;
    text-align: center; }
  .lyric-34 .quote {
    display: block;
    font-size: 60px; }
  .lyric-34 p {
    font: 700 34px / 1.6em 'Cardo', serif; }
  .lyric-34 hr {
    width: 75px;
    height: 4px;
    margin: 2em auto;
    background: #fff;
    border: 0; }
  .lyric-34 h6 {
    font: 700 22px / 1.6em 'Montserrat', serif;
    text-transform: uppercase;
    letter-spacing: .05em; }
    .lyric-34 h6 span {
      font-weight: 300; }

.lyric-33 {
  padding: 260px 0;
  background: #F2EBC7; }
  .lyric-33 .container {
    width: 400px;
    color: #343642; }
  .lyric-33 p {
    font: 400 42px / 1.6em 'Stint Ultra Condensed', sans-serif;
    text-transform: uppercase; }
  .lyric-33 h2 {
    font: 400 72px / 1em 'Ultra', sans-serif;
    text-transform: uppercase; }
  .lyric-33 h4 {
    margin-bottom: 1em;
    font: 200 26px / 1.8em 'Roboto Slab', serif;
    color: #962D3E; }
  .lyric-33 h6 {
    display: inline-block;
    font: 400 22px / 4em 'Stint Ultra Expanded', sans-serif;
    text-transform: uppercase;
    border-top: 2px solid #343642; }

.lyric-32 {
  padding: 260px 0;
  background: #000; }
  .lyric-32 .container {
    width: 600px;
    text-align: center; }
  .lyric-32 p {
    margin-bottom: .5em;
    font: 900 80px / .8em 'Work Sans', sans-serif;
    text-transform: uppercase; }
  .lyric-32 h6 {
    font: 100 30px / .8em 'Work Sans', sans-serif;
    text-transform: uppercase; }

.lyric-31 {
  padding: 220px 0;
  background: #405952; }
  .lyric-31 .container {
    width: 500px; }
  .lyric-31 p {
    margin-bottom: 1em;
    font: 400 20px / 1.8em 'Roboto', sans-serif;
    color: #9C9B7A; }
  .lyric-31 h4 {
    margin-bottom: 1em;
    font: 100 30px / 1.4em 'Roboto Slab', sans-serif;
    color: #FFD393; }
  .lyric-31 h2 {
    margin-bottom: .5em;
    font: 400 80px / 1em 'Satisfy', sans-serif;
    color: #FF974F; }
  .lyric-31 h6 {
    font: 400 24px / 3em 'Roboto', sans-serif;
    color: #9C9B7A;
    border-top: 4px solid #9C9B7A; }

.lyric-30 {
  position: relative;
  height: 600px;
  background: #111;
  overflow: hidden;
  background: #7e3636;
  background: -webkit-linear-gradient(30deg, #0D0620 0%, #15082b 18%, #0C082B 33%, #020006 76%, #050309 100%);
  background: linear-gradient(30deg, #0D0620 0%, #15082b 18%, #0C082B 33%, #020006 76%, #050309 100%);
  overflow: hidden; }
@keyframes twinkle {
  0%, 30%, 70%, 100% {
    opacity: 1; }
  50% {
    opacity: .2; } }
  .lyric-30 .container {
    position: absolute;
    width: 345px;
    left: 50%;
    margin-left: -172.5px;
    top: 35%;
    z-index: 10;
    text-align: center; }
  .lyric-30 p {
    font: 400 40px / 1.4em 'Questrial', sans-serif;
    margin-bottom: 1em; }
  .lyric-30 h6 {
    font: 400 20px / 1.4em 'Questrial', sans-serif;
    opacity: .5;
    text-transform: uppercase; }
  .lyric-30 .star-pane {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("img/stardust.png"); }
  .lyric-30 .stars-2 {
    animation: twinkle 5s linear infinite;
    transform: rotate(235deg); }
  .lyric-30 .stars-3 {
    animation: twinkle 4s linear infinite;
    transform: rotate(60deg); }
  .lyric-30 .stars-3 {
    animation: twinkle 6s linear infinite;
    transform: rotate(110deg); }

.lyric-29 {
  padding: 300px 0;
  text-align: center;
  background: #EBECEC; }
  .lyric-29 .container {
    position: relative;
    display: inline-block;
    width: auto;
    color: #859FB8;
    border: 1px solid #859FB8; }
  .lyric-29 p {
    font: 400 24px / 3em 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    line-height: 3em;
    letter-spacing: 0.08em;
    padding: 0 3em; }
    .lyric-29 p span {
      font-weight: 700; }
  .lyric-29 h6 {
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    font: 400 14px / 1.6em 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    background: #EBECEC; }

.lyric-28 {
  padding: 320px 0;
  background: #1B3463; }
  .lyric-28 .container {
    width: 710px; }
  .lyric-28 p {
    margin-bottom: 2em;
    font: italic 400 30px / 1.4em 'Alegreya', serif; }
  .lyric-28 h6 {
    font: 700 20px / 1.4em 'Alegreya', serif;
    text-transform: uppercase; }

.lyric-27 {
  padding: 160px 0;
  background: #ED6F60;
  text-align: center; }
  .lyric-27 .container {
    width: 500px;
    padding: 5em 0;
    z-index: 10; }
  .lyric-27 h2, .lyric-27 h3, .lyric-27 h6, .lyric-27 p {
    line-height: 1.5em; }
  .lyric-27 p, .lyric-27 h6 {
    font-family: 'Arbutus Slab', serif; }
  .lyric-27 h2, .lyric-27 h3 {
    font-family: 'Sarina', sans-serif; }
  .lyric-27 h2 {
    font-size: 140px;
    line-height: 1em;
    color: #5FCAC7;
    text-shadow: 0px 8px 0px #CF4836; }
  .lyric-27 h3 {
    line-height: 1em;
    color: #5FCAC7;
    text-shadow: 0px 8px 0px #CF4836; }
    .lyric-27 h3:first-of-type {
      font-size: 96px; }
    .lyric-27 h3:last-of-type {
      font-size: 84px; }
  .lyric-27 h6 {
    margin-top: 40px;
    font-size: 24px; }
  .lyric-27 p {
    font-size: 38px;
    line-height: 3em;
    color: #F4F1BB; }

.lyric-26 {
  padding: 240px 0;
  background: #DBD9CC; }
  .lyric-26 .container {
    text-align: center; }
  .lyric-26 .yin-yang {
    display: inline-block;
    position: relative;
    width: 96px;
    height: 48px;
    background: #eee;
    border-color: #111;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%; }
  .lyric-26 .yin-yang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 18px solid #111;
    border-radius: 100%;
    width: 12px;
    height: 12px; }
  .lyric-26 .yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #111;
    border: 18px solid #eee;
    border-radius: 100%;
    width: 12px;
    height: 12px; }
  .lyric-26 p {
    width: 420px;
    margin: 4em auto 2em;
    font: 400 22px / 1.8em 'EB Garamond', serif;
    color: #111; }
  .lyric-26 h6 {
    font: 900 18px / 1.6em 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #333; }

.lyric-25 {
  padding: 240px 0;
  text-align: center;
  background: #5f2c82;
  background: -webkit-linear-gradient(45deg, #5f2c82, #49a09d);
  background: linear-gradient(45deg, #5f2c82, #49a09d); }
  .lyric-25 .container {
    display: inline-block;
    padding: 2em 6em;
    width: auto;
    color: #444;
    background: #f0f0f0; }
  .lyric-25 p {
    font: 400 34px / 1.5em "Bangers", sans-serif; }
  .lyric-25 h6 {
    margin-top: 1em;
    font: 400 18px / 1.4em  "Muli", sans-serif;
    text-transform: uppercase; }

.lyric-24 {
  padding: 240px 0;
  background: #2A2C2B; }
  .lyric-24 .container {
    width: 400px;
    padding-bottom: 40px;
    overflow: auto;
    color: #D9CB9E;
    text-align: center; }
  .lyric-24 h1 {
    margin: 0;
    font: 700 64px / 1em 'Domine', serif;
    color: #fff; }
  .lyric-24 h4 {
    margin-bottom: 1em;
    font: 400 20px / 2em 'Work Sans', serif;
    color: #374140;
    text-transform: uppercase;
    border-bottom: 2px solid #374140; }
  .lyric-24 p {
    font: 400 14px / 2em 'Domine', serif; }

.lyric-23 {
  background: #88B1D3;
  background-image: url("img/asfalt-light.png"); }
  .lyric-23 .container {
    width: 540px;
    text-align: center; }
  .lyric-23 p {
    padding-bottom: 60px;
    font: 400 80px / 1.4em 'Bree Serif', sans-serif;
    color: #DAEDE2;
    text-shadow: 0 6px 0 #417378; }
  .lyric-23 h6 {
    font: 400 24px / 1em 'ABeeZee', sans-serif;
    text-align: center;
    color: #28578F; }

.lyric-22 {
  background: #F5FFFA; }
  .lyric-22 .container {
    width: 500px;
    text-align: center; }
  .lyric-22 .row {
    height: 225px; }
  .lyric-22 .row p {
    font: 400 40px / 50px 'PT Sans Narrow', sans-serif;
    text-transform: uppercase; }
  .lyric-22 .i-got,
  .lyric-22 .problems {
    color: #76949F; }
  .lyric-22 .i-got {
    float: left;
    margin-top: 24px; }
  .lyric-22 h1 {
    display: inline-block;
    font: 400 200px / 200px 'Old Standard TT', serif;
    color: #F5D08A;
    line-height: 1em;
    text-align: center; }
  .lyric-22 .problems {
    float: right;
    margin-top: 130px; }
  .lyric-22 h4 {
    font: 400 40px/70px 'Old Standard TT', serif;
    font-style: italic;
    color: #76949F;
    border-top: 2px solid #6A6B83;
    border-bottom: 2px solid #6A6B83; }
  .lyric-22 h6 {
    margin-top: 60px;
    font: 700 20px / 50px 'PT Sans', sans-serif;
    color: #6A6B83;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .08em; }

.lyric-21 {
  padding: 280px 0;
  background: #4f1a31; }
  .lyric-21 .container {
    width: 730px;
    padding-top: 5em;
    text-align: left; }
  .lyric-21 p {
    width: 75%;
    padding-left: 1em;
    font: 400 22px / 2em 'Josefin Sans', sans-serif;
    color: #E8D9AC; }
  .lyric-21 h2 {
    font: 400 60px / 1.4em 'Pinyon Script', cursive;
    color: #fff;
    padding-left: 2em; }
  .lyric-21 h2:first-of-type {
    margin-top: .5em; }
  .lyric-21 h2:last-of-type {
    margin-bottom: 1.2em; }
  .lyric-21 h6 {
    font: 700 14px / 3em 'Josefin Sans', serif;
    color: #4f1a31;
    text-transform: uppercase;
    text-align: center;
    background: #C7B07B; }

.lyric-20 {
  background: #FFFAE4; }
  .lyric-20 .container {
    width: 420px;
    padding: 100px 0; }
  .lyric-20 h2 {
    margin-bottom: .5em;
    font-family: 'Abril Fatface', serif;
    color: #40627C; }
  .lyric-20 .text-body {
    position: relative; }
  .lyric-20 p {
    padding: 2em 0 2em 50%;
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
    color: #26393D;
    line-height: 1.6em;
    border-top: 1px solid #40627C;
    border-bottom: 1px solid #40627C; }
  .lyric-20 h6 {
    position: absolute;
    bottom: -8px;
    padding: 0 1em;
    font-size: 18px;
    color: #40627C;
    background: #FFFAE4;
    font-family: 'Old Standard TT', serif;
    font-style: italic; }

.lyric-19 {
  padding: 260px 0;
  background: #3E2525; }
  .lyric-19 .container {
    position: relative;
    width: 460px;
    overflow: auto; }
  .lyric-19 .column {
    float: left;
    width: 50%; }
  .lyric-19 .left.column {
    text-align: center; }
  .lyric-19 .right.column {
    padding-left: 2em;
    border-left: 4px solid #543232;
    box-sizing: border-box; }
  .lyric-19 p {
    margin-bottom: 1em;
    font: 18px / 3em 'Crimson Text', serif;
    color: #fff; }
  .lyric-19 p em {
    color: #EB5A33; }
  .lyric-19 p:last-of-type {
    margin: 0; }
  .lyric-19 h6 {
    margin-top: 6em;
    font: 700 20px / 1em 'Crimson Text', sans-serif;
    text-transform: uppercase;
    letter-spacing: .16em; }

.lyric-18 {
  background: url("img/milky-way.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  .lyric-18 .container {
    width: 740px;
    padding: 6em;
    text-align: center;
    border: 3px solid #fff;
    box-sizing: border-box; }
  .lyric-18 p {
    margin-bottom: 1.4em;
    font: 700 36px / 1.6em 'Playfair Display', sans-serif; }
  .lyric-18 h6 {
    font-size: 28px;
    font-family: 'Alegreya Sans', sans-serif; }

.lyric-17 {
  background: #CFC0BD; }
  .lyric-17 .container {
    padding: 60px 0; }
  .lyric-17 p {
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #586F6B; }
  .lyric-17 p span {
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    color: #7F9183; }
  .lyric-17 h6 {
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 22px;
    color: #586F6B;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em; }

.lyric-16 {
  background: #3F6778;
  background-image: url("img/inspiration-geometry.png");
  text-align: center; }
  .lyric-16 .container {
    padding: 2em 0; }
  .lyric-16 p {
    margin-bottom: 40px;
    font-family: 'Pacifico', cursive;
    font-size: 54px;
    transform: rotate(-4deg);
    color: #fff; }
  .lyric-16 h6 {
    display: inline-block;
    padding: .25em 1.25em;
    margin: 80px auto 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    letter-spacing: .08em;
    text-transform: uppercase;
    border: 2px solid #DBE9EE;
    color: #DBE9EE; }

.lyric-15 {
  font-family: 'Neuton', serif;
  padding: 260px 0;
  color: #f0f0f0;
  background: #2F4F4F; }
  .lyric-15 .container {
    position: relative;
    width: 260px;
    text-align: center; }
  .lyric-15 p {
    margin-bottom: .5em;
    font-size: 24px;
    line-height: 1.3em;
    letter-spacing: .02em; }
  .lyric-15 h6 {
    margin-top: 60px;
    font-size: 25px;
    color: #b36262;
    text-align: center;
    text-transform: uppercase; }
  .lyric-15 .lbrac,
  .lyric-15 .rbrac {
    position: absolute;
    top: 0;
    font-size: 400px; }
  .lyric-15 .lbrac {
    left: -200px; }
  .lyric-15 .rbrac {
    right: -200px; }

.lyric-14 {
  padding: 270px 0 320px;
  font-family: 'EB Garamond', serif;
  background: #FCFFF5; }
  .lyric-14 .container {
    position: relative;
    width: 600px;
    text-align: center; }
  .lyric-14 h2 {
    font-size: 180px;
    line-height: 50px;
    color: #D1DBBD; }
  .lyric-14 p {
    padding-bottom: 2em;
    font-size: 28px;
    line-height: 1.4em;
    color: #3E606F;
    border-bottom: 1px solid #D1DBBD; }
    .lyric-14 p span {
      font-family: 'Pinyon Script', cursive;
      font-size: 60px;
      color: #91AA9D; }
  .lyric-14 h6 {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    font-size: 18px;
    color: #193441;
    text-align: center;
    letter-spacing: 0.04em;
    background: #FCFFF5; }

.lyric-13 {
  padding: 290px 0 240px;
  background: #f0f0f0; }
  .lyric-13 .container {
    width: 640px;
    padding-bottom: 30px;
    font: 400 20px / 2em 'Cutive Mono', monospace;
    box-sizing: border-box;
    text-align: center; }
  .lyric-13 p {
    color: #232323;
    font: 400 24px / 1.6em 'Cutive Mono', monospace;
    background: #f0f0f0;
    letter-spacing: -.08em; }
  .lyric-13 p:last-of-type {
    margin-bottom: 2em; }
  .lyric-13 h6 {
    font: 400 20px / 2em 'Cutive Mono', monospace;
    display: inline-block;
    margin-bottom: .45em;
    color: #88A0A8;
    text-transform: uppercase; }

.lyric-12 {
  padding: 180px 0;
  background: #42826C; }
  .lyric-12 .container {
    width: 520px;
    color: #C0D6A8; }
  .lyric-12 h2 {
    margin-bottom: .5em;
    font: 400 50px / 1.4em 'Gravitas One', serif;
    text-transform: uppercase; }
  .lyric-12 h2:first-of-type {
    margin-bottom: .333em;
    font-size: 54px; }
  .lyric-12 p {
    font: 400 40px / 1.4em 'Chivo', sans-serif;
    text-transform: uppercase; }
  .lyric-12 h6 {
    display: inline-block;
    padding: .5em 6px 0 0;
    font: 400 40px / 1.4em 'Chivo', sans-serif;
    text-transform: uppercase;
    border-top: 10px solid; }

.lyric-11 {
  padding: 0;
  font-family: 'Old Standard TT', serif;
  color: #000;
  background: #fff; }
  .lyric-11 .container {
    width: 100%;
    height: 940px; }
  .lyric-11 .pane {
    position: relative;
    width: 50%;
    padding: 214px 0;
    float: left;
    overflow: hidden; }
  .lyric-11 .body-text {
    display: inline-block;
    width: 300px; }
  .lyric-11 .typeface-specimen {
    display: inline-block;
    right: 0;
    width: 125px; }
  .lyric-11 .pane--black {
    background: black;
    color: white; }
    .lyric-11 .pane--black .day-index {
      left: 100%; }
    .lyric-11 .pane--black .typeface-specimen {
      right: -62px;
      left: initial; }
  .lyric-11 .pane--white {
    background: white;
    color: black; }
    .lyric-11 .pane--white .day-index {
      left: 0; }
    .lyric-11 .pane--white .typeface-specimen {
      left: -63px; }
  .lyric-11 .body-text--white {
    float: right;
    margin-right: -150px; }
  .lyric-11 .body-text--black {
    float: left;
    margin-left: -150px; }
  .lyric-11 .body-text--transparent {
    position: absolute;
    top: 155px;
    left: 50%;
    z-index: 10;
    margin-left: -150px;
    color: transparent; }
  .lyric-11 p {
    margin-bottom: 2em;
    font-size: 19px;
    line-height: 2em;
    text-align: justify; }
  .lyric-11 h6 {
    text-align: center;
    font-size: 16px; }

.lyric-10 {
  background: #FCE6BD;
  text-align: center; }
  .lyric-10 .container {
    position: relative;
    padding: 60px 40px;
    width: 580px;
    color: #fff; }
  .lyric-10 p {
    font: 400 22px / 2em 'Radley', serif;
    color: #694F5D;
    text-transform: uppercase; }
  .lyric-10 h5 {
    margin: .5em 0 2.25em;
    font: 400 28px / 2.2em 'Rock Salt', cursive;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #EE5656; }
  .lyric-10 h6 {
    display: inline-block;
    padding: 1em;
    font: 400 22px / 2em 'Radley', serif;
    color: #694F5D;
    text-transform: uppercase;
    border-top: 2px solid #694F5D; }

.lyric-9 {
  padding: 300px 0;
  font-family: 'Lora', serif;
  background: #fff; }
  .lyric-9 .container {
    width: 620px; }
  .lyric-9 p {
    margin-bottom: 1em;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.4em;
    background: #3CA55C;
    background: -webkit-linear-gradient(45deg, #2f9036 0%, #2f9036 18%, #d09625 33%, #ff9900 62%, #9c0707 100%);
    background: linear-gradient(45deg, #2f9036 0%, #2f9036 18%, #d09625 33%, #ff9900 62%, #9c0707 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .lyric-9 h6 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .03em;
    color: #444;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; }

.lyric-8 {
  padding: 220px 0;
  text-align: center;
  background: #3E8E94;
  font-family: 'Roboto', sans-serif; }
  .lyric-8 .container {
    width: 600px;
    color: #FFE184; }
  .lyric-8 p {
    font-size: 56px;
    letter-spacing: -.04em; }
  .lyric-8 h5 {
    margin-top: 2em;
    font-size: 30px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -0.1em;
    word-spacing: -.2em;
    text-transform: uppercase; }
    .lyric-8 h5 span {
      display: inline-block; }
    .lyric-8 h5 span:nth-of-type(4n) {
      transform: rotate(5deg); }
    .lyric-8 h5 span:nth-of-type(4n+1) {
      transform: rotate(2deg); }
    .lyric-8 h5 span:nth-of-type(4n+2) {
      transform: rotate(-5deg); }
    .lyric-8 h5 span:nth-of-type(4n+3) {
      transform: rotate(-2deg); }
  .lyric-8 h6 {
    background: #3E8E94;
    margin-top: 3em;
    font-size: 20px;
    color: #174C4F; }

.lyric-7 {
  padding: 300px 0;
  font-family: 'PT Serif', serif;
  background: #E6EBE0; }
  .lyric-7 .container {
    width: 300px; }
  .lyric-7 .row {
    padding: 40px 0; }
  .lyric-7 p {
    font-size: 26px;
    color: #82AAA4; }
  .lyric-7 h6 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5D576B;
    color: #ED6A5A;
    text-align: center; }
  .lyric-7 .speak-like-this,
  .lyric-7 .beat-like-this {
    float: left;
    width: 50%;
    box-sizing: border-box; }
  .lyric-7 .speak-like-this {
    padding-right: 2em;
    text-align: right; }
  .lyric-7 .beat-like-this {
    padding-left: 1em; }

.lyric-6 {
  padding: 200px 0;
  font-family: 'Alegreya Sans', sans-serif;
  background: #3D6A3B;
  background-image: url("img/cartographer.png"); }
  .lyric-6 .container {
    width: 400px;
    text-align: center; }
  .lyric-6 p {
    font-size: 24px;
    line-height: 2em; }
  .lyric-6 p:last-of-type {
    margin-bottom: 2em; }
  .lyric-6 h6 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.08em; }

.lyric-5 {
  padding: 0;
  font-family: 'Roboto Slab', serif;
  background: #acbac2; }
  .lyric-5 hr {
    border: 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    margin: 30px 0; }
  .lyric-5 .container {
    width: 520px;
    padding: 240px 0;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 32px 8px rgba(0, 0, 0, 0.1); }
  .lyric-5 p {
    width: 65%;
    margin: 0 auto 1em;
    font-size: 40px;
    font-weight: 100;
    line-height: 1.3em;
    color: #3498db;
    text-align: center; }
  .lyric-5 h6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 3em;
    letter-spacing: .09em;
    color: #3498db;
    text-align: center;
    text-transform: uppercase; }

.lyric-4 {
  padding: 200px 0;
  font-family: 'Rock Salt', sans-serif;
  background: #fcfff5; }
  .lyric-4 .container {
    width: 500px; }
  .lyric-4 h1 {
    margin-bottom: 50px;
    font-size: 34px;
    line-height: 2.6em;
    color: #3e606f; }
  .lyric-4 h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 2.6em;
    color: #91aa9d; }
  .lyric-4 h4 {
    font: 700 30px / 2em 'Open Sans', sans-serif;
    color: #aa9b83;
    text-transform: uppercase;
    text-align: center; }

.lyric-3 {
  padding: 200px 0;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-transform: uppercase;
  background: #ffb03b; }
  .lyric-3 h1 {
    font-family: 'Lato', sans-serif;
    font-size: 123px;
    font-weight: 100;
    color: #fff0a5;
    opacity: .8; }
  .lyric-3 h2 {
    color: #8e2800;
    font-weight: 700; }
  .lyric-3 h3 {
    margin-bottom: 1em;
    font-size: 67px;
    font-weight: 700;
    color: #b64926; }
  .lyric-3 h4 {
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    color: #468966;
    text-transform: none; }

.lyric-2 {
  font-family: 'Vollkorn', serif;
  padding: 300px 0;
  background: #f6f0e3; }
  .lyric-2 .body {
    width: 300px;
    margin: 0 auto;
    overflow-y: hidden;
    text-align: center; }
  .lyric-2 .lyric {
    padding: 2em 0;
    margin-bottom: 2em;
    font-size: 20px;
    font-style: italic;
    line-height: 1.6em;
    color: #2c3e50;
    border-top: 1px solid rgba(44, 62, 80, 0.5);
    border-bottom: 1px solid rgba(44, 62, 80, 0.5); }
  .lyric-2 .attribution {
    font-weight: 700;
    letter-spacing: .083em;
    color: #e99366;
    text-transform: uppercase; }

.lyric-1 {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: #c0392b; }
  .lyric-1 .container {
    width: 500px;
    padding: 80px 0; }
  .lyric-1 .row {
    height: 380px;
    padding-top: 60px;
    overflow: auto; }
  .lyric-1 h1 {
    font-size: 300px;
    line-height: 1em;
    opacity: .1; }
  .lyric-1 p {
    margin-right: 20px;
    font-size: 40px;
    text-align: center; }
  .lyric-1 .body {
    position: absolute;
    width: 500px;
    padding-top: 100px; }
  .lyric-1 .attribution {
    float: left;
    width: 485px; }

header {
  padding: 100px 0 200px;
  background: #2f343b;
  background: -webkit-radial-gradient(center, ellipse cover, #2f343b 0%, #3e454e 100%);
  background: radial-gradient(ellipse at center, #2f343b 0%, #3e454e 100%); }
  header .container {
    width: 700px;
    text-align: center; }
  header h1 {
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #e3cda4;
    text-transform: uppercase; }
  header h2 {
    margin-bottom: 60px;
    font-family: 'Alegreya', serif;
    font-size: 70px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: .05em;
    color: #cf665b; }
  header h6 {
    font-size: 16px;
    line-height: 1.8em;
    color: #e3cda4;
    text-transform: uppercase; }
  header p {
    margin-bottom: 1em;
    line-height: 1.6em; }
  header hr {
    width: 80px;
    height: 3px;
    margin: 2em auto;
    background: #e3cda4;
    border: 0; }
  header .credits {
    float: left;
    width: 300px; }
  header .body {
    float: left;
    width: 400px; }

.parental-advisory {
  background: #fff;
  color: #000; }
  .parental-advisory .container {
    width: 380px;
    overflow: auto; }
  .parental-advisory h2, .parental-advisory h3, .parental-advisory h4 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase; }
  .parental-advisory .pa--sticker {
    width: 232px;
    margin: 0 auto 60px;
    text-align: center;
    border: 2px solid #000; }
  .parental-advisory h3 {
    padding: .1em 0 0 .3em;
    color: #fff;
    background: #000;
    letter-spacing: .3em;
    border: 2px solid #fff; }
  .parental-advisory h2 {
    padding: .1em .1em 0;
    letter-spacing: 0.05em; }
  .parental-advisory h4 {
    padding: 6px;
    color: #fff;
    background: #000;
    letter-spacing: .14em;
    border: 2px solid #fff; }
  .parental-advisory p {
    line-height: 2em;
    text-align: center; }

footer {
  color: #999;
  text-align: center; }
  footer p {
    line-height: 50px; }

.non-responsive {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background: #333;
  display: table;
  table-layout: fixed; }
  .non-responsive .container {
    display: table-cell;
    margin: 0 auto;
    width: 200px;
    vertical-align: middle;
    text-align: center;
    max-width: 100%; }
  .non-responsive h5 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin: 1em 0; }
  .non-responsive p {
    line-height: 1.6em; }
  @media (min-width: 800px) {
    .non-responsive {
      display: none; } }

/*# sourceMappingURL=100DOR-style.css.map */
