doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    title 100 Days of Rap Lyrics
    meta(name='description', content='100 Days of Rap Lyrics')
    meta(name='author', content='Ian Wessen')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='public/css/fonts.css')
    link(rel='stylesheet', href='public/css/normalize.css')
    link(rel='stylesheet', href='public/css/app.css')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    header
      .container
        h6 Intro
        hr
        h1 One-Hundred Days
        h2 of Rap Lyrics
        .row
          .credits
            h6 Inspiration
            p
              a(href='https://thegreatdiscontent.com/interview/elle-luna-100-day-project') Elle Luna, 100 Day Project
            h6 Fonts
            p
              a(href='https://www.google.com/fonts') Google Web Fonts
          .body
            p
              | This is a collision of a couple of my favorite things, typography and rap music. After being inspired by Elle Luna’s #The100DayProject, I decided to embark on my own 100 day project — typesetting my favorite rap lyrics. One lyric a day, each day, for 100 days.
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Open+Sans') Open Sans
        |  & 
        a(href='https://www.google.com/fonts/specimen/Alegreya') Alegreya
    section.parental-advisory
      .container
        .pa--sticker
          h3 Parental
          h2 Advisory
          h4 Explicit Content
        p
          | This project contains content deemed by some as objectionable. Viewer discretion advised.
    //
      section#lyric-99.lyric.lyric-99
        time.day-index.day-index-99.meta-tag.light(title='#')
          span 99
        .container
          p Lyric
          a(href='')
            h6 Artist
        span.typeface-specimen.meta-tag.light
          a(href='Font') Font

    section#lyric-69.lyric.lyric-69
      time.day-index.day-index-69.meta-tag.light(title='#')
        span 69
      .container
        p Jealousy is
        p.love love
        span.amp &
        p.hate hate
        p at the same time
      a(href='https://genius.com/Drake-over-my-dead-body-lyrics')
        h6 – Drake –
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Inconsolate') Inconsolata & 
        a(href='https://www.google.com/fonts/specimen/Crimson+Text') Crimson Text


    section#lyric-68.lyric.lyric-68
      time.day-index.day-index-68.meta-tag.dark(title='#')
        span 68
      .container
        p Why 
        p you 
        p gotta 
        p fight 
        p with 
        p me 
        p at 
        p Cheesecake
        a(href='https://genius.com/Drake-childs-play-lyrics')
          h6 Drake
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Merriweather') Merriweather & 
        a(href='https://www.google.com/fonts/specimen/Libre+Franklin') Libre Franklin

    section#lyric-67.lyric.lyric-67
      time.day-index.day-index-67.meta-tag.dark(title='#')
        span 67
      .rhombus
      .container
        p Lean all on the square
          span That’s a fuckin' rhombus
        a(href='https://www.youtube.com/watch?v=DWZBchgVSvc')
          h6 Chance the Rapper
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Nixie+One') Nixie One

    section#lyric-66.lyric.lyric-66
      time.day-index.day-index-66.meta-tag.light(title='#')
        span 66
      .container
        span.foreground Don't quote me boy, <br> I ain't said shit
        span.background Don't quote me boy, <br> I ain't said shit
        a(href='https://www.youtube.com/watch?v=LYLPICkVBM4')
          h6 Easy E
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Rubik') Yellowtail, 
        a(href='https://www.google.com/fonts/specimen/Roboto') Roboto, 
        | & 
        a(href='https://www.google.com/fonts/specimen/Oswald') Oswald

    section#lyric-65.lyric.lyric-65
      time.day-index.day-index-65.meta-tag.light(title='#')
        span 65
      .foreground.cloud-container
        img.cloud(src='public/img/cloud.png')
      .midground.cloud-container
        img.cloud(src='public/img/cloud.png')
      .background.cloud-container
        img.cloud(src='public/img/cloud.png')
      .container
        p I’ve been fly so long, <br>
          | I fell asleep on the <br>
          | fuckin' plane.
        a(href='https://www.youtube.com/watch?v=72REkGg4LME')
          h6 Li'l Wayne
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Rubik') Rubik

    section#lyric-64.lyric.lyric-64
      time.day-index.day-index-64.meta-tag.light(title='#')
        span 64
      .atmosphere
      img.mountain(src='public/img/mountain.png')
      .container
        p Top of the morning
        p
          em my fist to your face is fucking Folgers
        a(href='https://www.youtube.com/watch?v=uuWQyfGa1yI')
          h6 Killer Mike
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Noto+Sans') Noto Sans 
        | & 
        a(href='https://www.google.com/fonts/specimen/Covered+By+Your+Grace') Covered By Your Grace
        
    section#lyric-63.lyric.lyric-63
      time.day-index.day-index-63.meta-tag.light(title='#')
        span 63
      .container
        p I think I like her like a metaphor.
        a(href='https://www.youtube.com/watch?v=q5Dz73rB2aU')
          h6 Lupe Fiasco
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Playfair+Display') Playfair Display
        | 		  & 
        a(href='https://www.google.com/fonts/specimen/Roboto') Roboto
        
    section#lyric-62.lyric.lyric-62
      time.day-index.day-index-62.meta-tag.dark(title='#')
        span 62
      .container
        p.either Either 
        p.m-y-o-b M-Y-O-B
        p.or or
        p.b-y-o B-Y-O
        p.stretcher stretcher
        h6
          a(href='#') MF DOOM
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Oswald') Oswald

    section#lyric-61.lyric.lyric-61
      time.day-index.day-index-61.meta-tag.light(title='October 16, 2016')
        span 61
      .container
        p
          | I can drink a whole Hennessy fifth. 
          br
          | Some call that a problem, but I call it a gift.
        h6
          a(href='https://www.youtube.com/watch?v=hBabbOOwKyM') Xzibit
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Shrikhand') Shrikhand
    
    section#lyric-60.lyric.lyric-60
      time.day-index.day-index-60.meta-tag.dark(title='October 15, 2016')
        span 60
      .container
        p
          span Sick, sick dreams
          br
          | of 
          span picnic scenes,
          br
          | two 
          span kids sixteen
          br
          | with 
          span M-16s
          br
          | with 
          span ten clips each
          br
          | and 
          span them shits reach
          br
          | through 
          span six kids each
          br
          | and 
          span Slim gets blamed
          br
          | in 
          span Bill Clints speech
          br
          | to 
          span fix these streets
          br
          | — 
          br
        h6
          a(href='https://www.youtube.com/watch?v=Z1YjSuPWkzQ') Eminem
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Archivo+black') Archivo black
    
    section#lyric-59.lyric.lyric-59
      time.day-index.day-index-59.meta-tag.light(title='October 10, 2016')
        span 59
      .container
        .paper
          .border-a
          .border-b
          .body
            h2 Rigamortus
            h6
              a(href='https://www.youtube.com/watch?v=yh6QxtRpSH8') Kendrick Lamar
            p
              | Really ballistic, anybody can see 
              br
              | Any assistance, everybody done see 
              br
              | Some persistence, recognize I be 
              br
              | Really too vicious, the permanent beast 
              br
              | And the demolition, breaking up the streets 
              br
              | Better partition, better dot your T 
              br
              | And I gon' mention, how the far you see 
              br
              | Putting my dick in the rap industry 
              br
              | Everybody bitchin', getting mad at me 
              br
              | Recognize Kendrick, in the battery 
              br
              | And I'm charged up, and the catastrophe 
              br
              | Is charged up, and the audacity 
              br
              | And y'all fucks, never could hassle me 
              br
              | And y'all luck, just ran out you'll see
          .sidebar
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Playfair+Display') Playfair Display
        | 		  & 
        a(href='https://www.google.com/fonts/specimen/Vollkorn') Vollkorn
    
    section#lyric-58.lyric.lyric-58
      time.day-index.day-index-58.meta-tag.light(title='October 9, 2016')
        span 58
      .container
        p She got a 
        p 
          span big booty 
        p so I call her 
        p 
          span big booty
        h6
          a(href='https://www.youtube.com/watch?v=Y34jC4I1m70') 2Chainz
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Bungee+Inline') Bungee Inline 
        | & 
        a(href='https://www.google.com/fonts/specimen/Lato') Lato

    section#lyric-57.lyric.lyric-57
      time.day-index.day-index-57.meta-tag.light(title='September 30, 2016')
        span 57
      .container
        h2
          span Borderline schizo,
          |  sorta fine tits though.
        h6
          a(href='https://www.youtube.com/watch?v=x8Ru8d0l_fU') MF DOOM
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Merriweather') Merriweather
    section#lyric-56.lyric.lyric-56
      time.day-index.day-index-56.meta-tag.light(title='September 29, 2016')
        span 56
      .container
        p
          | I get 
          span imaginatve
        p
          | with a box full of 
          span adjectives
        p
          | a brain full of 
          span adverbs
        p
          | and a box full of 
          span laxatives
        p
          | Shittin on 
          span rappers,
        p
          | causin’ hospital 
          span accidents.
        p
          | God help me before I commit some irresponsible 
          span acts again.
        h6
          a(href='https://www.youtube.com/watch?v=y9FBhlL3NZE') Eminem
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Bitter') Bitter
        | 			& 
        a(href='https://www.google.com/fonts/specimen/Cabin') Cabin
    section#lyric-55.lyric.lyric-55
      time.day-index.day-index-55.meta-tag.light(title='August 24, 2016')
        span 55
      .container
        h3 My dick is like an accent mark
        p It's all about the
        p over
        h2 E’s
        h6
          a(href='https://www.youtube.com/watch?v=qL1B_r9nC9k') Childish Gambino
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/IM+Fell+Great+Primer') IM FELL Great Primer
        | 		  & 
        a(href='https://www.google.com/fonts/specimen/Abril+Fatace') Abril Fatface
    section#lyric-54.lyric.lyric-54
      time.day-index.day-index-54.meta-tag.dark(title='August 23, 2016')
        span 54
      .container
        p
          | Mayonaise colored Benz 
          br
          |  I push miracle whips
        p
          | Mayonaise colored Benz 
          br
          |  I push miracle whips
        h6
          a(href='https://www.youtube.com/watch?v=XuwTMkXPoJY') Kanye West
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Grand+Hotel') Grand Hotel
        | 		  & 
        a(href='https://www.google.com/fonts/specimen/Oswald') Oswald
    section#lyric-53.lyric.lyric-53
      time.day-index.day-index-53.meta-tag.dark(title='August 22, 2016')
        span 53
      .container
        .dollar.dollar-fabric
          .dollar-inner
            .dollar-splash
              .dollar-portrait
              .dollar-content
                p To all the killahs and the 100 dollar billahs.
                h6
                  a(href='https://www.youtube.com/watch?v=0NUX4tW5pps') Mobb Deep
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Noto+Serif') Noto Serif
        | 		  & 
        a(href='https://www.google.com/fonts/specimen/Noto+Sans') Noto Sans
    section#lyric-52.lyric.lyric-52
      time.day-index.day-index-52.meta-tag.dark(title='August 21, 2016')
        span 52
      .container
        p If my brain were a deck of cards,
        img(src='public/img/card.png', alt='Playing card')
        p I'd be missing the whole deck.
        p
          a(href='https://www.youtube.com/watch?v=1eEzzN08Moc') Microphone Nut
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Andada') Andada
    section#lyric-51.lyric.lyric-51
      time.day-index.day-index-51.meta-tag.dark(title='August 20, 2016')
        span 51
      .container
        h5 We don’t do drive bys
        h3
          | We park in 
          br
          |  front of houses 
          br
          |  and shoot.
        p
          | And if the police come we fucking 
          br
          |  shoot it out with them too.
        h6
          a(href='https://www.youtube.com/watch?v=TOmQjOEBtQ4') Eminem
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Playfair+Display') Playfair Display
        | 		  & 
        a(href='https://www.google.com/fonts/specimen/Work+Sans') Work Sans

    section#lyric-50.lyric.lyric-50
      time.day-index.day-index-50.meta-tag.light(title='August 19, 2016')
        span 50
      .container
        h4 “
        p
          | I'm diabolical, follicle triggers that I cock and squeeze
          br
          | Sending shots to ancient Greece to pop Socrates
          br
          | I bear arms like button-downs without the sleeves
          br
          | Manic depressive and possessive like apostrophes.
        h6
          a(href='https://www.youtube.com/watch?v=YdK8G7-oMMI') Black Thought
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Coustard') Coustard, 
        a(href='https://www.google.com/fonts/specimen/Raleway') Raleway 
        | & 
        a(href='https://www.google.com/fonts/specimen/Neuton') Neuton
    section#lyric-49.lyric.lyric-49
      time.day-index.day-index-49.meta-tag.dark(title='June 17, 2016')
        span 49
      .container
        p
          | Super
          br
          | califragilistic
          br
          | expialidocious.
          br
          | Dociousaliexpi
          br
          | fragilisticcali
          br
          | super.
        h6
          a(href='https://www.youtube.com/watch?v=_QtdYJGsFDk') Ghostface Killah
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Kumar+One+Outline') Kumar One Outline
    
    section#lyric-48.lyric.lyric-48
      time.day-index.day-index-48.meta-tag.light(title='June 3, 2016')
        span 48
      .circuit
      .container
        span
          hr
        p
          span N
          | ow that's 
          span p
          | ractici
          span n
          | g 
          span s
          | acrilegious ac
          span t
          | ivism.
          br
          | Attack is for 
          span b
          | attle, and practical rap with wisdom.
          br
          span A
          | ctually, it's 
          span p
          | ragmatic capital
          span i
          | sm for actors that 
          span crack under pressure and coll
          | apse w
          span h
          | en I get 'em.
          br
          | Monch is me
          span d
          | icinal man made med
          span i
          | cal marijuana.
          br
          | Wit
          span h
          |  a phase 
          span p
          | lasma ri
          span f
          | le like I'
          span m 
          | sear
          span c
          | hin' for Sarah Conner.
        h6
          a(href='https://www.youtube.com/watch?v=YdK8G7-oMMI') Pharoe Monch
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Exo') Exo

    section#lyric-47.lyric.lyric-47
      time.day-index.day-index-47.meta-tag.light(title='May 25, 2016')
        span 47
      .container
        .dish
          .dish-inner
            p
              | “An appetite for destruction 
              br
              | 						but I scrape the plate.”
            h6
              a(href='https://www.youtube.com/watch?v=XhpVo23zC6Q') Jay Z
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Lato') Lato
    section#lyric-46.lyric.lyric-46
      time.day-index.day-index-46.meta-tag.dark(title='February 12, 2016')
        span 46
      .container
        p
          | Even though I went to college and dropped out of school quick, I always had a
        .pretty-huge-dick
          h1 PHD
          p a PRETTY HUGE DICK
        h3 Kanye West
      p
        a(href='https://www.youtube.com/watch?v=TOQv3-huSzs') Kanye Omari West
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Crimson+Text') Crimson Text
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/UnifrakturMaguntia') UnifrakturMaguntia
    section#lyric-45.lyric.lyric-45
      time.day-index.day-index-45.meta-tag.dark(title='February 11, 2016')
        span 45
      .container
        p One for the money.
        br
        p Two for the green.
        br
        p 3,4-methylenedioxymethamphetamine.
        br
        h6
          a(href='https://www.youtube.com/watch?v=lRMyYP3T0NE') MF DOOM
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Merriweather') Merriweather

    section#lyric-44.lyric.lyric-44
      time.day-index.day-index-44.meta-tag.light(title='February 10, 2016')
        span 44
      .container
        h1 I can hear sweat trickle down your cheek.
        p
          | Your heartbeat
          br
          | sound like
          br
          | sasquatch feet.
          br
          | Thundering,
          br
          | shaking the
          br
          | concrete.
        p
          a(href='https://www.youtube.com/watch?v=GTD4-0ailWQ') The Notorious B.I.G.
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Source+Serif+Pro') Source Serif Pro 
        | & 
        a(href='https://www.google.com/fonts/specimen/Source+Sans+Pro') Source Sans Pro

    section#lyric-43.lyric.lyric-43
      time.day-index.day-index-43.meta-tag.light(title='February 9, 2016')
        span 43
      .text-container
        p
          | I got nuts to bust, and butts to fuck and ups to shut and sluts to fuckin’ uppercut.
        h6
          a(href='https://www.youtube.com/watch?v=qOjjXIC9LiU') Earl Sweatshirt
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/PT+Serif') PT Serif
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/PT+Sans') PT Sans
    section#lyric-42.lyric.lyric-42
      time.day-index.day-index-42.meta-tag.light(title='February 8, 2016')
        span 42
      h1 42
      .container
        p
          span I father, I
          span Brooklyn Dodger
          span them.
          span I jack, I rob, I sin.
          span Aww, man. I'm
          span Jackie Robinson.
          span
            | 'cept when I run base, 
            span I dodge the pen.
        h6
          a(href='https://www.youtube.com/watch?v=bQZlXWU0aO0') Jay Z
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Roboto+Slab') Roboto Slab
        | ,
        a(href='https://www.google.com/fonts/specimen/Bevan') Bevan
    section#lyric-41.lyric.lyric-41
      time.day-index.day-index-41.meta-tag.dark(title='February 7, 2016')
        span 41
      .container
        h1 Uncommon Valor
        h6
          a(href='https://www.youtube.com/watch?v=3qpcyJ-nse0') R.A. the Rugged Man
        .body-container
          .pull-left
            p
              b True story
              |  — Call me Thorburn, John H., staff sergeant Marksman, skill in killin’, illin’, I’m able and willin’. Kill a village elephant, rapin’ and pillage a village. Illegitimate killers, US Military guerrillas.
            p
              | This ain’t no real war. Vietnam? Shit, World War II, that’s a war, this is just a military conflict. Soothin’ drug abusin’, Vietnamese women screwin’. Sex, gambling and boozin’, all this shit is amusin’. Bitches and guns, this is every man’s dream. I don’t wanna go home where I’m just an ordinary human being.
            p
              | Special Op, Huey chopper gun ship run shit. Gook run when the minigun spit, won’t miss.
            p
              | Kill shit, spit four-thousand bullets a minute. Vic the Charlie, hit trigger, hit it, I’m in it to win it Get it, the lieutenant hinted, the villain, I been it. The killing, I did it, cripple, did it, pictures I painted is vivid, live it. A wizard with weapons, the secret mission, we ’bout to begin it.
            p
              | Government funded, behind enemy lines. Bullets is sprayin’, it’s heatin’ up a hundred degrees. The enemies the North Vietnamese, bitch please. Ain’t no sweat, I’m told, “Be at ease.” Until I see the pilot got hit, and we ’bout to hit some trees.
          .pull-right
            p
              | Nail the road, it broke, crash land. American man in Cambodia, right in the enemy hand. Take a swig of the Whiskey to calm us. Them yellow men wearin’ black pajamas, they wanna harm us. They all up on us, bang, bang, bullet hit my chest, feel no pain. To my left, the captain caught a bullet right in his brain. Body parts flyin’, loss of limbs, explosions. Bad intentions, I see my best friend’s intestines.
            p
              | Pray to the one above, it’s raining, I’m covered in mud I think I’m dyin’, I feel dizzy, I’m losin’ blood I see my childhood, I’m back in the arms of my mother. I see my whole life, I see Christ, I see bright lights I see Israelites, Muslims and Christians at peace, no fights Black, Whites, Asians, people of all types. I must’ve died, then I woke up, surprised I’m alive I’m in a hospital bed, they rescued me, I survived I escaped the war, came back, but ain’t escape Agent Orange.
            p
              | Two of my kids born handicapped. Spastic, quadriplegia, micro cephalic. Cerebral palsy, cortical blindness, name it, they had it. My son died, he ain’t live, but I still try to think positive.
            p ’Cause in life, God take, God give.
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/PT+Serif') PT Serif
    section#lyric-40.lyric.lyric-40
      time.day-index.day-index-40.meta-tag.light(title='December 26, 2015')
        span 40
      .container
        p
          span.lyric You couldn't make the fans
          br
          span.lyric throw up their hands
          br
          span.lyric if they swallowed their fingers
        h6
          a(href='https://www.youtube.com/watch?v=UMV9H5a3aBY')
            | E
            br
            | mi
            br
            | ne
            br
            | m
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Ovo') Ovo
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Montserrat') Montserrat
    
    section#lyric-39.lyric.lyric-39
      time.day-index.day-index-39.meta-tag.dark(title='December 25, 2015')
        span 39
      .container
        p
          | I’m at the top of the top, but still I climb. And if I should ever fall, the ground will then turn to wine.
        h6
          a(href='https://www.youtube.com/watch?v=KPJcpNxSyYc') Li’l Wayne
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Bevan') Bevan, 
        | & 
        a(href='https://www.google.com/fonts/specimen/Lato') Lato
    section#lyric-38.lyric.lyric-38
      time.day-index.day-index-38.meta-tag.light(title='December 24, 2015')
        span 38
      .top-pane
        p
          | They say I'm 
          br
          |  up and coming
      p
        em
          | like I'm fucking 
          br
          |  in an elevator.
      h6
        a(href='https://www.youtube.com/watch?v=ZXvzzTICvJs') Ed Sheeran
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Libre+Baskerville') Libre Baskerville
    section#lyric-37.lyric.lyric-37
      time.day-index.day-index-37.meta-tag.light(title='December 23, 2015')
        span 37
      .container
        h2 Screams
        h3
          span from the
          |  haters,
        h4
          | got a nice 
          br
          span  ring to it. 
        h5
          | I guess every superhero 
          span needs his theme music
        h6
          a(href='https://www.youtube.com/watch?v=L53gjP-TtGE') Kanye West
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Righteous') Righteous
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Monoton') Monoton
    section#lyric-36.lyric.lyric-36
      time.day-index.day-index-36.meta-tag.light(title='December 22, 2015')
        span 36
      .container
        p
          | Trigger fingers turn to twitter fingers. 
          span.cursor
        h6
          a(href='https://www.youtube.com/watch?v=5JGk4Ci9Gk4') @Drake
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Source+Sans+Pro') Source Sans Pro
    section#lyric-35.lyric.lyric-35
      time.day-index.day-index-35.meta-tag.light(title='December 21, 2015')
        span 35
      .container
        hr
        h4
          | I bomb 
          em
            span atomically
          | ,
          h4
            h2 SOCRATES’ PHILOSOPHIES
            h2
              span &
              |  HYPOTHESES
            h5
              | can’t 
              em
                span define
              |  how I be 
              em
                span droppin
              |  these
            h2 MOCKERIES,
            h5 lyrically perform armed robbery
            hr
            h6
              a(href='https://www.youtube.com/watch?v=cPRKsKwEdUQ') Inspectah Deck
            hr
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Playfair+Display') Playfair Display
        | ,
        a(href='https://www.google.com/fonts/specimen/Playfair+Display+SC') Playfair Display SC
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Abril+Fatface') Abril Fatface
    section#lyric-34.lyric.lyric-34
      time.day-index.day-index-34.meta-tag.light(title='December 20, 2015')
        span 34
      .container
        p
          span.quote “
          | 		I got nines in the bedroom, Glocks in the kitchen. A shotty by the shower if you wanna shoot me while I’m shittin’.
        hr
        h6
          a(href='https://www.youtube.com/watch?v=GDix4WZxM0w')
            span The
            |  Notorious BIG
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Cardo') Cardo
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Montserrat') Montserrat
    section#lyric-33.lyric.lyric-33
      time.day-index.day-index-33.meta-tag.dark(title='December 19, 2015')
        span 33
      .container
        p
          | For all of those who wanna
        h2 Profile & Pose
        h4 Rock you in your face, stab your brain with your nose bone.
        h6
          a(href='https://www.youtube.com/watch?v=0NUX4tW5pps') Mobb Deep
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Stint+Ultra+Condensed') Stint Ultra Condensed
        | ,
        a(href='https://www.google.com/fonts/specimen/Ultra') Ultra
        | ,
        a(href='https://www.google.com/fonts/specimen/Roboto+Slab') Roboto Slab
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Stint+Ultra+Expanded') Stint Ultra Expanded
    section#lyric-32.lyric.lyric-32
      time.day-index.day-index-32.meta-tag.light(title='December 18, 2015')
        span 32
      .container
        p
          | You are witnessing elegance in the form of a black elephant
        h6
          a(href='https://www.youtube.com/watch?v=lNsAfGDkUtk') Killer Mike
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Work+Sans') Work Sans
    section#lyric-31.lyric.lyric-31
      time.day-index.day-index-31.meta-tag.light(title='December 17, 2015')
        span 31
      .container
        p
          | I made Jesus Walks, 
          br
          | 		  I'm never going to hell. 
          br
          | 		  Couture level flow is never going on sale. 
          br
          | 		  Luxury rap, the Hermes of verses 
          br
        h4 sophisticated ignorance
        h2 write my curses in cursive
        h6
          a(href='https://www.youtube.com/watch?v=BoEKWtgJQAU') Kanye West
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Roboto') Roboto
        | ,
        a(href='https://www.google.com/fonts/specimen/Roboto+Slab') Roboto Slab
        | ,
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Satisfy') Satisfy
    section#lyric-30.lyric.lyric-30
      time.day-index.day-index-30.meta-tag.light(title='December 16, 2015')
        span 30
      .container
        p Fire, water, air, dirt. Fuckin’ magnets. How do they work?
        h6
          a(href='https://www.youtube.com/watch?v=_-agl0pOQfs') Insane Clown Posse
      .star-pane.stars-1
      .star-pane.stars-2
      .star-pane.stars-3
      .star-pane.stars-3
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Questrial') Questrial
    section#lyric-29.lyric.lyric-29
      time.day-index.day-index-29.meta-tag.dark(title='December 15, 2015')
        span 29
      .container
        p
          | Worst rapper on this track 
          span third coolest
        h6
          a(href='https://www.youtube.com/watch?v=N0ijOe3sGEk') Heebs
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Josefin+Sans') Josefin Sans
    section#lyric-28.lyric.lyric-28
      time.day-index.day-index-28.meta-tag.light(title='December 14, 2015')
        span 28
      .container
        p
          | Nothing was fucking awesome, trying to make it from the bottom this is feeling as hard as Vince Carter's knee cartilage is.
        h6
          a(href='https://www.youtube.com/watch?v=heGM11NEdGc') Earl Sweatshirt
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Alegreya') Alegreya
    section#lyric-27.lyric.lyric-27
      time.day-index.day-index-27.meta-tag.light(title='December 13, 2015')
        span 27
      .container
        p I'm like the fly Malcolm X
        h3 buy any
        h2 jeans
        h3 necessary
      h6
        a(href='https://www.youtube.com/watch?v=b3Ah96RGTxQ') Kanye West
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Arbutus+Slab') Arbutus Slab
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Braggadocio') Braggadocio
    section#lyric-26.lyric.lyric-26
      time.day-index.day-index-26.meta-tag.dark(title='December 12, 2015')
        span 26
      .container
        .yin-yang
        p
          | I seen a baby cry then seconds later she laughed; The beauty of life, the pain never lasts
      h6
        a(href='https://www.youtube.com/watch?v=EbcLskuuEd0') J Cole
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/EB+Garamond') EB Garamond
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Raleway') Raleway
    section#lyric-25.lyric.lyric-25
      time.day-index.day-index-25.meta-tag.light(title='December 11, 2015')
        span 25
      .container
        p
          | Feeling mad hostile, wearing Aéropostale 
          br
          | 		  Flowing like Christ when I speaks the gospel
        h6
          a(href='https://www.youtube.com/watch?v=R0IUR4gkPIE') GZA
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Bangers') Bangers
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Muli') Muli
    section#lyric-24.lyric.lyric-24
      time.day-index.day-index-24.meta-tag.light(title='December 10, 2015')
        span 24
      .container
        h1
          a(href='https://www.youtube.com/watch?v=G-S9mtYowPY') El-P
        h4 Run The Jewels
        p
          | Life is hell, death's a bitch 
          br
          | 		  And these FUBAR rulers getting rich 
          br
          | 		  I cop a zip, it opens up 
          br
          | 		  I smoke it up, go home and fuck 
          br
          | 		  C'est la vie girl, when in Rome 
          br
          | 		  I gave the face, please pay with dome 
          br
          | 		  My business card says you're in luck 
          br
          | 		  I do two things, I rap and fuck 
          br
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Domine') Domine
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Work+Sans') Work Sans
    section#lyric-23.lyric.lyric-23
      time.day-index.day-index-23.meta-tag.dark(title='December 9, 2015')
        span 23
      .container
        p
          | Cause I’m cooler than a polar bears toenails
        h6
          a(href='https://www.youtube.com/watch?v=NywdVBwzurU') Big Boi
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Bree+Serif') Bree Serif
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/ABeeZee') ABeeZee
    section#lyric-22.lyric.lyric-22
      time.day-index.day-index-22.meta-tag.dark(title='December 8, 2015')
        span 22
      .container
        .row
          p.i-got I got
          h1 99
          p.problems problems
        h4 and they all bitches
      h6
        a(href='https://www.youtube.com/watch?v=9qZ-BvpYNG8') Kid Cudi
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/PT+Sans+Narrow') PT Sans Narrow
        | ,
        a(href='https://www.google.com/fonts/specimen/Old+Standard+TT') Old Standard TT
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/PT+Sans') PT Sans
    section#lyric-21.lyric.lyric-21
      time.day-index.day-index-21.meta-tag.light(title='December 7, 2015')
        span 21
      .container
        p
          | Oh my god, is that a black card? I turned around and replied, Why, yes. But I prefer the term
        h2 African-American Express
        h6
          a(href='https://www.youtube.com/watch?v=eNYF_-mGGUI') Kanye West
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Pinyon+Script') Pinyon Script
        | ,
        a(href='https://www.google.com/fonts/specimen/Josefin+Sans') Josefin Sans
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Josefin+Slab') Josefin Slab
    section#lyric-20.lyric.lyric-20
      time.day-index.day-index-20.meta-tag.dark(title='December 6, 2015')
        span 20
      .container
        h2 I’m like hey, what's up hello
        .text-body
          p
            | Seen your pretty ass soon as you came in the door. I just wanna chill, got a sack for us to roll. Married to the money, introduced her to my stove.
          h6
            a(href='https://www.youtube.com/watch?v=i_kF4zLNKio') Fetty Wap
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Abril+Fatface') Abril Fatface
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Old+Standard+TT') Old Standard TT
    section#lyric-19.lyric.lyric-19
      time.day-index.day-index-19.meta-tag.light(title='December 5, 2015')
        span 19
      .container
        .left.column
          h6
            a(href='https://www.youtube.com/watch?v=eJO5HU_7_1w') Eminem
        .right.column
          p
            | Will Smith don’t gotta cuss in his raps to sell records.
            | Well I do; 
            br
            | 			So fuck him. 
            br
            | 			And fuck you too.
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Crimson+Text') Crimson Text
    section#lyric-18.lyric.lyric-18
      time.day-index.day-index-18.meta-tag.light(title='December 4, 2015')
        span 18
      .container
        p
          | Her beauty is why God invented eyeballs. And her booty is why God invented my balls.
        h6
          a(href='https://www.youtube.com/watch?v=wkQy0chUkj8') Kanye West
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Playfair+Display') Playfair Display
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Alegreya') Alegreya
    section#lyric-17.lyric.lyric-17
      time.day-index.day-index-17.meta-tag.dark(title='December 3, 2015')
        span 17
      .container
        p
          | Not an 
          span average
          |  Joe
        p
          | with an 
          span average
          |  flow
        p
          | doin 
          span average
          |  things
        p
          | with 
          span average
          |  hoes
        h6
          a(href='https://www.youtube.com/watch?v=AFuuX3bZYsY') Method Man
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Covered+By+Your+Grace') Covered By Your Grace
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Open+Sans+Condensed') Open Sans Condensed
    section#lyric-16.lyric.lyric-16
      time.day-index.day-index-16.meta-tag.light(title='December 2, 2015')
        span 16
      .container
        p E.E. Cumming on her face
        p now that's poetry in motion.
        h6
          a(href='https://www.youtube.com/watch?v=E5yy9F-taYI') Childish Gambino
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Pacifico') Pacifico
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Yanone+Kaffeesatz') Yanone Kaffeesatz
    section#lyric-15.lyric.lyric-15
      time.day-index.day-index-15.meta-tag.light(title='December 1, 2015')
        span 15
      .container
        p
          | The squareroot of 69 is 8 something.
        p ...Right?
        h6
          a(href='https://www.youtube.com/watch?v=U0CGsw6h60k')
            span.lbrac  { 
            strong Drake
            span.rbrac  } 
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Neuton') Neuton
    section#lyric-14.lyric.lyric-14
      time.day-index.day-index-14.meta-tag.dark(title='November 30, 2015')
        span 14
      .container
        h2 “
        p
          span B
          | aby girl, you’re so damn fine though. 
          br
          | I'm tryna know if I could hit it from behind though.
        h6
          a(href='https://www.youtube.com/watch?v=1eEzzN08Moc')
            span F
            | etty 
            span W
            | ap
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/EB+Garamond') Garamond
        | 		& 
        a(href='https://www.google.com/fonts/specimen/Pinyon+Script') Pinyon Script
    section#lyric-13.lyric.lyric-13
      time.day-index.day-index-13.meta-tag.dark(title='November 29, 2015')
        span 13
      .container
        p Cause when it comes to going against Kane rappin,
        p that’s like a pimp trying to pull a nun,
        p ain’t nothin’ happening.
        p Non-resistible, non compatible.
        p I’m not saying I’m the best,
        p I’m just saying I’m fuckin incredible.
        h6
          a(href='https://www.youtube.com/watch?v=efFOPagjpLM') Big Daddy Kane
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Cutive+Mono') Cutive Mono
    section#lyric-12.lyric.lyric-12
      time.day-index.day-index-12.meta-tag.light(title='November 28, 2015')
        span 12
      .container
        p I’m not a
        h2 Businessman
        p I’m a
        h2
          | Business, 
          br
          |  man.
        h6
          a(href='https://www.youtube.com/watch?v=2kWuOUijAbc') Jay-Z
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Chivo') Chivo
        | 		& 
        a(href='https://www.google.com/fonts/specimen/Gravitas+One') Gravitas One
    section#lyric-11.lyric.lyric-11
      time.day-index.day-index-11.meta-tag.dark(title='November 27, 2015')
        span 11
      .container
        p
          | When I die, fuck it I wanna go to hell.
          | Cause I’m a piece of shit, it ain’t hard to fuckin’ tell.
          | It don’t make sense, goin’ to heaven wit the goodie-goodies.
          | Dressed in white, I like black Tims and black hoodies.
          | God will probably have me on some real strict shit.
          | No sleepin’ all day, no gettin my dick licked.
          | Hangin’ with the goodie-goodies loungin’ in paradise.
          | Fuck that shit, I wanna tote guns and shoot dice.
      h6
        a(href='https://www.youtube.com/watch?v=s4M8GjgfG9k') The Notorious B.I.G
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Old+Standard+TT') Old Standard TT
    section#lyric-10.lyric.lyric-10
      time.day-index.day-index-10.meta-tag.dark(title='November 26, 2015')
        span 10
      .container
        p I got drug spots from New York to Canada
        h5 Cause Big L be fuckin with more keys than a janitor.
        h6
          a(href='https://www.youtube.com/watch?v=1eEzzN08Moc') Big L
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Radley') Radley
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Radley') Rock Salt
    section#lyric-9.lyric.lyric-9
      time.day-index.day-index-9.meta-tag.dark(title='November 25, 2015')
        span 9
      .container
        p Y’all couldn’t rap this dope with a Zig-Zag
        h6
          a(href='https://www.youtube.com/watch?v=ov39OwOUPtg') Shad
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Lora') Lora
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Montserrat') Montserrat
    section#lyric-8.lyric.lyric-8
      time.day-index.day-index-8.meta-tag.light(title='November 24, 2015')
        span 8
      .container
        p I jerk off inside books
        p and give life to words
        h5
          span Leaving
          span concepts
          span stuck
          span together
          span you’ve
          span probably
          span never
          span heard
          | .
      h6
        a(href='https://www.youtube.com/watch?v=YWVFOp3ihFI') Immortal Technique
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Roboto') Roboto
    section#lyric-7.lyric.lyric-7
      time.day-index.day-index-7.meta-tag.dark(title='November 23, 2015')
        span 7
      .container
        .row
          .speak-like-this
            p
              | You ain’t never heard an emcee 
              em speak
              |  like this.
          .beat-like-this
            p
              | And Rodney King ain’t never felt a 
              em beat
              |  like this.
        h6
          a(href='https://www.youtube.com/watch?v=__Z4jDgOFTA') Binary Star
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/PT+Serif') PT Serif
    section#lyric-6.lyric.lyric-6
      time.day-index.day-index-6.meta-tag.light(title='November 22, 2015')
        span 6
      .container
        .text
          p
            | Dick's too 
            br
            |  short a 
            br
            |  word for 
            br
            |  my dick.
          p Get off my
          p
            em Antidisestablishmentarianism
          p you prick.
          h6
            a(href='https://www.youtube.com/watch?v=JnfTregxyEg') Eminem
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Alegreya+Sans') Alegreya Sans
    section#lyric-5.lyric.lyric-5
      time.day-index.day-index-5.meta-tag.dark(title='November 21, 2015')
        span 5
      .container
        p I get more ass than a toilet seat
        hr
        h6
          a(href='https://www.youtube.com/watch?v=WrjwGPb0Hvw') Nate Dogg
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Roboto+Slab') Roboto Slab
    section#lyric-4.lyric.lyric-4
      time.day-index.day-index-4.meta-tag.dark(title='November 20, 2015')
        span 4
      .container
        h2
          | Crack mothers, 
          br
          |  crack babies, 
          br
          |  and AIDS patients. 
          br
          |  Youngbloods can’t spell
        h1 but they could rock you in PlayStation.
        h4
          a(href='https://www.youtube.com/watch?v=m5vw4ajnWGA') Mos Def
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Rock+Salt') Rock Salt
    section#lyric-3.lyric.lyric-3
      time.day-index.day-index-3.meta-tag.dark(title='November 19, 2015')
        span 3
      .container
        h2 Real G’s move in
        h1 Silence
        h3 Like lasagna
        h4
          a(href='https://www.youtube.com/watch?v=c7tOAGY59uQ') Lil Wayne
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Playfair+Display') Playfair Display
        | 	  & 
        a(href='https://www.google.com/fonts/specimen/Lato') Lato
    section#lyric-2.lyric.lyric-2
      time.day-index.day-index-2.meta-tag.dark(title='November 18, 2015')
        span 2
      .container
        .body
          div
            p.lyric
              | Dead in the middle of Little Italy 
              br
              |  little did we know that we riddled some middleman who didn't do diddily.
            p.attribution
              a(href='https://www.youtube.com/watch?v=-7fBmlX80fA') Big Pun
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Vollkorn') Vollkorn
    section#lyric-1.lyric.lyric-1
      .container
        time.day-index.day-index-1.meta-tag.light(title='November 17, 2015')
          span 1
        .row
          .body
            p
              | I never sleep,
              | cuz sleep
              | is the cousin of
              | death.
          .attribution
            h1
              a(href='https://www.youtube.com/watch?v=UKjj4hk0pV4') Nas
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Oswald') Oswald
    footer
      br
      .container
        p
          a(href='http://www.ianwessen.com')
            | © 
            script.
              document.write(new Date().getFullYear())
            |  Ian Wessen
