doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    title Beautiful Lyrics
    meta(name='description', content='Beautiful Lyrics')
    meta(name='author', content='Ian Wessen')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='dist/css/fonts.css')
    link(rel='stylesheet', href='dist/css/normalize.css')
    link(rel='stylesheet', href='dist/css/app.css')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

  body

    header

      .container

        h6 Intro
        hr
        h1 Beautiful
        h2 Rap Lyrics

        .row
          h6 Fonts
          p
            a(href='https://www.google.com/fonts') Google Web Fonts

      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Open+Sans') Open Sans
        |  & 
        a(href='https://www.google.com/fonts/specimen/Alegreya') Alegreya



    section.parental-advisory
      .container
        .pa--sticker
          h3 Parental
          h2 Advisory
          h4 Explicit Content
        p
          | This project contains content deemed by some as objectionable. Viewer discretion advised.


    
    section#lyric-35.lyric.lyric-35
      time.day-index.day-index-35.meta-tag.light(title='December 21, 2015')
        span 35
      .container
        hr
        h4
          | I bomb 
          em
            span atomically
          | ,
          h4
            h2 SOCRATES’ PHILOSOPHIES
            h2
              span &
              |  HYPOTHESES
            h5
              | can’t 
              em
                span define
              |  how I be 
              em
                span droppin
              |  these
            h2 MOCKERIES,
            h5 lyrically perform armed robbery
            hr
            h6
              a(href='https://www.youtube.com/watch?v=cPRKsKwEdUQ') Inspectah Deck
            hr
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Playfair+Display') Playfair Display
        | ,
        a(href='https://www.google.com/fonts/specimen/Playfair+Display+SC') Playfair Display SC
        |     & 
        a(href='https://www.google.com/fonts/specimen/Abril+Fatface') Abril Fatface





    section#lyric-14.lyric.lyric-14
      time.day-index.day-index-14.meta-tag.dark(title='November 30, 2015')
        span 14
      .container
        h2 “
        p
          span B
          | aby girl, you’re so damn fine though. 
          br
          | I'm tryna know if I could hit it from behind though.
        h6
          a(href='https://www.youtube.com/watch?v=1eEzzN08Moc')
            span F
            | etty 
            span W
            | ap
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/EB+Garamond') Garamond
        |     & 
        a(href='https://www.google.com/fonts/specimen/Pinyon+Script') Pinyon Script

        

    section#lyric-69.lyric.lyric-69
      time.day-index.day-index-69.meta-tag.dark(title='#')
        span 69
      .container
        .phonograph
        p 
          | If you are not performing fellatio for radio rotation,
          br
          | What's the ratio for radio play at your station?
          br
          | If your not paying to play, the record is dead,
          br
          | Puts a whole new spin on 
          strong radio head
          |.
        a(href='https://www.youtube.com/watch?v=Px7c33rDfFM')
          h6 
            span.uppercase Pharoahe Monch
            br
            | The Hitman
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Scope+One') Scope One




    section#lyric-66.lyric.lyric-66
      time.day-index.day-index-66.meta-tag.light(title='#')
        span 66
      .container
        span.foreground Don't quote me boy, <br> I ain't said shit
        span.background Don't quote me boy, <br> I ain't said shit
        a(href='https://www.youtube.com/watch?v=LYLPICkVBM4')
          h6 Easy E
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Rubik') Yellowtail, 
        a(href='https://www.google.com/fonts/specimen/Roboto') Roboto, 
        | & 
        a(href='https://www.google.com/fonts/specimen/Oswald') Oswald

    section#lyric-65.lyric.lyric-65
      time.day-index.day-index-65.meta-tag.light(title='#')
        span 65
      .foreground.cloud-container
        img.cloud(src='dist/img/cloud.png')
      .midground.cloud-container
        img.cloud(src='dist/img/cloud.png')
      .background.cloud-container
        img.cloud(src='dist/img/cloud.png')
      .container
        p I’ve been fly so long, <br>
          | I fell asleep on the <br>
          | fuckin' plane.
        a(href='https://www.youtube.com/watch?v=72REkGg4LME')
          h6 Li'l Wayne
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Rubik') Rubik





    section#lyric-56.lyric.lyric-56
      time.day-index.day-index-56.meta-tag.light(title='September 29, 2016')
        span 56
      .container
        p
          | I get 
          span imaginatve
        p
          | with a box full of 
          span adjectives
        p
          | a brain full of 
          span adverbs
        p
          | and a box full of 
          span laxatives
        p
          | Shittin on 
          span rappers,
        p
          | causin’ hospital 
          span accidents.
        p
          | God help me before I commit some irresponsible 
          span acts again.
        h6
          a(href='https://www.youtube.com/watch?v=y9FBhlL3NZE') Eminem
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Bitter') Bitter
        |       & 
        a(href='https://www.google.com/fonts/specimen/Cabin') Cabin
    section#lyric-55.lyric.lyric-55
      time.day-index.day-index-55.meta-tag.light(title='August 24, 2016')
        span 55
      .container
        h3 My dick is like an accent mark
        p It's all about the
        p over
        h2 E’s
        h6
          a(href='https://www.youtube.com/watch?v=qL1B_r9nC9k') Childish Gambino
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/IM+Fell+Great+Primer') IM FELL Great Primer
        |       & 
        a(href='https://www.google.com/fonts/specimen/Abril+Fatace') Abril Fatface





    section#lyric-50.lyric.lyric-50
      time.day-index.day-index-50.meta-tag.light(title='August 19, 2016')
        span 50
      .container
        p
          | I'm diabolical, 
          br
          | follicle 
          br
          | triggers 
          br
          | that I cock and squeeze
          br
          | Sending shots to ancient Greece 
          br
          | to pop Socrates
          br
          | I bear arms 
          br
          | like button-downs 
          br
          | without the sleeves
          br
          br
          | Manic depressive 
          br
          | and possessive 
          br
          | like apostrophes.
        h4 “
        h6
          a(href='https://www.youtube.com/watch?v=YdK8G7-oMMI') Black Thought
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Coustard') Coustard, 
        a(href='https://www.google.com/fonts/specimen/Raleway') Raleway 
        | & 
        a(href='https://www.google.com/fonts/specimen/Neuton') Neuton
    section#lyric-49.lyric.lyric-49
      time.day-index.day-index-49.meta-tag.dark(title='June 17, 2016')
        span 49
      .container
        p
          | Super
          br
          | califragilistic
          br
          | expialidocious.
          br
          | Dociousaliexpi
          br
          | fragilisticcali
          br
          | super.
        h6
          a(href='https://www.youtube.com/watch?v=_QtdYJGsFDk') Ghostface Killah
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Kumar+One+Outline') Kumar One Outline





    section#lyric-45.lyric.lyric-45
      time.day-index.day-index-45.meta-tag.dark(title='February 11, 2016')
        span 45
      .container
        p One for the money.
        br
        p Two for the green.
        br
        p 3,4-methylenedioxymethamphetamine.
        br
        h6
          a(href='https://www.youtube.com/watch?v=lRMyYP3T0NE') MF DOOM
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Merriweather') Merriweather


    
    section#lyric-40.lyric.lyric-40
      time.day-index.day-index-40.meta-tag.light(title='December 26, 2015')
        span 40
      .container
        p
          span.lyric You couldn't make the fans
          br
          span.lyric throw up their hands
          br
          span.lyric if they swallowed their fingers
        h6
          a(href='https://www.youtube.com/watch?v=UMV9H5a3aBY')
            | E
            br
            | mi
            br
            | ne
            br
            | m
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Ovo') Ovo
        |     & 
        a(href='https://www.google.com/fonts/specimen/Montserrat') Montserrat
    

    section#lyric-37.lyric.lyric-37
      time.day-index.day-index-37.meta-tag.light(title='December 23, 2015')
        span 37
      .container
        h2 Screams
        h3
          span from the
          |  haters,
        h4
          | got a nice 
          br
          span  ring to it. 
        h5
          | I guess every superhero 
          span needs his theme music
        h6
          a(href='https://www.youtube.com/watch?v=L53gjP-TtGE') Kanye West
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Righteous') Righteous
        |     & 
        a(href='https://www.google.com/fonts/specimen/Monoton') Monoton
    section#lyric-36.lyric.lyric-36
      time.day-index.day-index-36.meta-tag.light(title='December 22, 2015')
        span 36
      .container
        p
          | Trigger fingers turn to twitter fingers. 
          span.cursor
        h6
          a(href='https://www.youtube.com/watch?v=5JGk4Ci9Gk4') @Drake
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Source+Sans+Pro') Source Sans Pro



    section#lyric-34.lyric.lyric-34
      time.day-index.day-index-34.meta-tag.light(title='December 20, 2015')
        span 34
      .container
        p
          span.quote “
          |     I got nines in the bedroom, Glocks in the kitchen. A shotty by the shower if you wanna shoot me while I’m shittin’.
        hr
        h6
          a(href='https://www.youtube.com/watch?v=GDix4WZxM0w')
            span The
            |  Notorious BIG
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Cardo') Cardo
        |     & 
        a(href='https://www.google.com/fonts/specimen/Montserrat') Montserrat
    section#lyric-33.lyric.lyric-33
      time.day-index.day-index-33.meta-tag.dark(title='December 19, 2015')
        span 33
      .container
        p
          | For all of those who wanna
        h2 Profile & Pose
        h4 Rock you in your face, stab your brain with your nose bone.
        h6
          a(href='https://www.youtube.com/watch?v=0NUX4tW5pps') Mobb Deep
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Stint+Ultra+Condensed') Stint Ultra Condensed
        | ,
        a(href='https://www.google.com/fonts/specimen/Ultra') Ultra
        | ,
        a(href='https://www.google.com/fonts/specimen/Roboto+Slab') Roboto Slab
        |     & 
        a(href='https://www.google.com/fonts/specimen/Stint+Ultra+Expanded') Stint Ultra Expanded
    


    section#lyric-73.lyric.lyric-73
      time.day-index.day-index-73.meta-tag.dark(title='#')
        span 73
      .container
        p 
          span.dropcap R
          | ip your fucking skin off 
          span.nerves just to get on your nerves
        a(href='https://www.youtube.com/watch?v=ZnZBV4NH0bA')
          h6 Funkmaster Flex
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Playfair+Display') Playfair Display & 
        a(href='https://www.google.com/fonts/specimen/Yantramanav') Yantramanav





    section#lyric-32.lyric.lyric-32
      time.day-index.day-index-32.meta-tag.light(title='December 18, 2015')
        span 32
      .container
        p
          | You are witnessing elegance in the form of a black elephant
        h6
          a(href='https://www.youtube.com/watch?v=lNsAfGDkUtk') Killer Mike
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Work+Sans') Work Sans
    section#lyric-31.lyric.lyric-31
      time.day-index.day-index-31.meta-tag.light(title='December 17, 2015')
        span 31
      .container
        p
          | I made Jesus Walks, 
          br
          |       I'm never going to hell. 
          br
          |       Couture level flow is never going on sale. 
          br
          |       Luxury rap, the Hermes of verses 
          br
        h4 sophisticated ignorance
        h2 write my curses in cursive
        h6
          a(href='https://www.youtube.com/watch?v=BoEKWtgJQAU') Kanye West
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Roboto') Roboto
        | ,
        a(href='https://www.google.com/fonts/specimen/Roboto+Slab') Roboto Slab
        | ,
        |     & 
        a(href='https://www.google.com/fonts/specimen/Satisfy') Satisfy
    section#lyric-30.lyric.lyric-30
      time.day-index.day-index-30.meta-tag.light(title='December 16, 2015')
        span 30
      .container
        p Fire, water, air, dirt. Fuckin’ magnets. How do they work?
        h6
          a(href='https://www.youtube.com/watch?v=_-agl0pOQfs') Insane Clown Posse
      .star-pane.stars-1
      .star-pane.stars-2
      .star-pane.stars-3
      .star-pane.stars-3
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Questrial') Questrial
    section#lyric-29.lyric.lyric-29
      time.day-index.day-index-29.meta-tag.dark(title='December 15, 2015')
        span 29
      .container
        p
          | Worst rapper on this track 
          span third coolest
        h6
          a(href='https://www.youtube.com/watch?v=N0ijOe3sGEk') Heebs
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Josefin+Sans') Josefin Sans
    section#lyric-28.lyric.lyric-28
      time.day-index.day-index-28.meta-tag.light(title='December 14, 2015')
        span 28
      .container
        p
          | Nothing was fucking awesome, trying to make it from the bottom this is feeling as hard as Vince Carter's knee cartilage is.
        h6
          a(href='https://www.youtube.com/watch?v=heGM11NEdGc') Earl Sweatshirt
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Alegreya') Alegreya



    section#lyric-24.lyric.lyric-24
      time.day-index.day-index-24.meta-tag.light(title='December 10, 2015')
        span 24
      .container
        h1
          a(href='https://www.youtube.com/watch?v=G-S9mtYowPY') El-P
        h4 Run The Jewels
        p
          | Life is hell, death's a bitch 
          br
          |       And these FUBAR rulers getting rich 
          br
          |       I cop a zip, it opens up 
          br
          |       I smoke it up, go home and fuck 
          br
          |       C'est la vie girl, when in Rome 
          br
          |       I gave the face, please pay with dome 
          br
          |       My business card says you're in luck 
          br
          |       I do two things, I rap and fuck 
          br
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Domine') Domine
        |     & 
        a(href='https://www.google.com/fonts/specimen/Work+Sans') Work Sans
    section#lyric-23.lyric.lyric-23
      time.day-index.day-index-23.meta-tag.dark(title='December 9, 2015')
        span 23
      .container
        p
          | Cause I’m cooler than a polar bears toenails
        h6
          a(href='https://www.youtube.com/watch?v=NywdVBwzurU') Big Boi
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Bree+Serif') Bree Serif
        |     & 
        a(href='https://www.google.com/fonts/specimen/ABeeZee') ABeeZee



    section#lyric-21.lyric.lyric-21
      time.day-index.day-index-21.meta-tag.light(title='December 7, 2015')
        span 21
      .container
        p Oh my god, is that a black card? 
        p I turned around and replied, 
        p "Why, yes. But I prefer the term
        h2 African-American Express
        h6
          a(href='https://www.youtube.com/watch?v=eNYF_-mGGUI') Kanye West
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Pinyon+Script')  Pinyon Script,
        a(href='https://www.google.com/fonts/specimen/Josefin+Sans')  Josefin Sans 
        a(href='https://www.google.com/fonts/specimen/Josefin+Slab')  & Josefin Slab
    section#lyric-20.lyric.lyric-20
      time.day-index.day-index-20.meta-tag.dark(title='December 6, 2015')
        span 20
      .container
        h2 I’m like hey, what's up hello
        .text-body
          p
            | Seen your pretty ass soon as you came in the door. I just wanna chill, got a sack for us to roll. Married to the money, introduced her to my stove.
          h6
            a(href='https://www.youtube.com/watch?v=i_kF4zLNKio') Fetty Wap
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Abril+Fatface') Abril Fatface
        |     & 
        a(href='https://www.google.com/fonts/specimen/Old+Standard+TT') Old Standard TT



    section#lyric-18.lyric.lyric-18
      time.day-index.day-index-18.meta-tag.light(title='December 4, 2015')
        span 18
      .container
        p
          | Her beauty is why God invented eyeballs. And her booty is why God invented my balls.
        h6
          a(href='https://www.youtube.com/watch?v=wkQy0chUkj8') Kanye West
      span.typeface-specimen.meta-tag.light
        a(href='https://www.google.com/fonts/specimen/Playfair+Display') Playfair Display
        |     & 
        a(href='https://www.google.com/fonts/specimen/Alegreya') Alegreya


    



    section#lyric-9.lyric.lyric-9
      time.day-index.day-index-9.meta-tag.dark(title='November 25, 2015')
        span 9
      .container
        p Y’all couldn’t rap this dope with a Zig-Zag
        h6
          a(href='https://www.youtube.com/watch?v=ov39OwOUPtg') Shad
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Lora') Lora
        |     & 
        a(href='https://www.google.com/fonts/specimen/Montserrat') Montserrat



    section#lyric-5.lyric.lyric-5
      time.day-index.day-index-5.meta-tag.dark(title='November 21, 2015')
        span 5
      .container
        p I get more ass than a toilet seat
        hr
        h6
          a(href='https://www.youtube.com/watch?v=WrjwGPb0Hvw') Nate Dogg
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Roboto+Slab') Roboto Slab



    section#lyric-3.lyric.lyric-3
      time.day-index.day-index-3.meta-tag.dark(title='November 19, 2015')
        span 3
      .container
        h2 Real G’s move in
        h1 Silence
        h3 Like lasagna
        h4
          a(href='https://www.youtube.com/watch?v=c7tOAGY59uQ') Lil Wayne
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Playfair+Display') Playfair Display
        |     & 
        a(href='https://www.google.com/fonts/specimen/Lato') Lato
    section#lyric-2.lyric.lyric-2
      time.day-index.day-index-2.meta-tag.dark(title='November 18, 2015')
        span 2
      .container
        .body
          div
            p.lyric
              | Dead in the middle of Little Italy 
              br
              |  little did we know that we riddled some middleman who didn't do diddily.
            p.attribution
              a(href='https://www.youtube.com/watch?v=-7fBmlX80fA') Big Pun
      span.typeface-specimen.meta-tag.dark
        a(href='https://www.google.com/fonts/specimen/Vollkorn') Vollkorn
    


    footer
      br
      .container
        p
          a(href='http://www.ianwessen.com')
            | © 
            script.
              document.write(new Date().getFullYear())
            |  Ian Wessen
