.lyric-63 {
	background: #4c9271;
  background-image: url('../../../public/img/skulls.png');
	
	.container {
		padding: 120px 0;
		width: 32rem;
		text-align: center;
	}
	
	p {
		margin-bottom: .5em;
		font: 900 4rem/1.2em 'Playfair Display', Georgia, serif;
	}
	
	h6 {
		color: #4c9271;
		font: 400 1.75rem/2em 'Roboto', Georgia, serif;
		background: #fff;
	}
}
