// =============================================================================
// ====================================  1  ====================================
// =============================================================================

.lyric-1 {
  // I never sleep, cuz sleep is the cousin of death

  $background: #c0392b;
  $text: #fff;

  font-family: 'Oswald', sans-serif;
  color: $text;
  text-transform: uppercase;
  background: $background;

  .container {
	width: 500px;
	padding: 80px 0;
  }

  .row {
	height: 380px;
	padding-top: 60px;
	overflow: auto;
  }

  h1 {
	font-size: 300px;
	line-height: 1em;
	opacity: .1;
  }

  p {
	margin-right: 20px;
	font-size: 40px;
	text-align: center;
  }

  .body {
	position: absolute;
	width: 500px;
	padding-top: 100px;
  }

  .attribution {
	float: left;
	width: 485px;
  }
}
