
// =============================================================================
// ====================================  8  ====================================
// =============================================================================

.lyric-8 {
  // I jerk off into books and give life to words LEAVING CONCEPTS STUCK TOGETHER YOU’VE PROBABLY NEVER HEARD.

  padding: 220px 0;
  text-align: center;
  background: #3E8E94;
  font-family: 'Roboto', sans-serif;

  .container {
	width: 600px;
	color: #FFE184;
  }

  p {
	font-size: 56px;
	letter-spacing: -.04em;
  }

  h5 {
	margin-top: 2em;
	font-size: 30px;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: -0.1em;
	word-spacing: -.2em;
	text-transform: uppercase;

	span {
	  display: inline-block;
	}
	span:nth-of-type(4n) {
	  transform: rotate(5deg);
	}
	span:nth-of-type(4n+1) {
	  transform: rotate(2deg);
	}
	span:nth-of-type(4n+2) {
	  transform: rotate(-5deg);
	}
	span:nth-of-type(4n+3) {
	  transform: rotate(-2deg);
	}
  }

  h6 {
	background: #3E8E94;
	margin-top: 3em;
	font-size: 20px;
	color: #174C4F;
  }
}
