


// =============================================================================
// ====================================  25  ===================================
// =============================================================================

.lyric-25 {
  // Feeling mad hostile, wearing Aeropostale
  // Flowing like Christ when I speaks the gospel

  padding: 240px 0;
  text-align: center;
  background: #5f2c82;

  .container {
	display: inline-block;
	padding: 2em 6em;
	width: auto;
	color: #444;
	background: #f0f0f0;
  }

  p {
	font: 400 34px / 1.5em "Bangers", sans-serif;
  }

  h6 {
	margin-top: 1em;
	font: 400 18px / 1.4em  "Muli", sans-serif;
	text-transform: uppercase;
  }

}