@import 'variables';

// =============================================================================
// ====================================  4  ====================================
// =============================================================================

.lyric-4 {
  // Rock you in Playstation
  $emphasis: #3e606f;
  $text: #91aa9d;
  $attribution: #aa9b83;

  padding: 200px 0;
  font-family: 'Rock Salt', sans-serif;
  background: #fcfff5;

  .container {
	width: 500px;
  }

  h1 {
	// Playstation
	margin-bottom: 50px;
	font-size: 34px;
	line-height: 2.6em;
	color: $emphasis;
  }

  h2 {
	// Young bloods
	font-size: 24px;
	font-weight: 300;
	line-height: 2.6em;
	color: $text;
  }

  h4 {
	font: 700 30px / 2em 'Open Sans', sans-serif;
	color: $attribution;
	text-transform: uppercase;
	text-align: center;
  }
}