

// =============================================================================
// ====================================  41  ===================================
// =============================================================================

.lyric-41 {
	// Uncommon Valor

	padding: 200px 0;
	background: #eee;
	
	.container {
		width: 760px;
		overflow: auto;
	}

	.intro {
		font-weight: 700;
	}

	.indent {
		padding-right: 2em;
	}
	
	.pull-left,
	.pull-right {
		width: 48%;
	}

	h1 {
		margin: 0;
		color: #374251;
		font: 900 4.6rem / 1.2em 'PT Serif', serif;
	}

	p {
		margin: 0;
		font: 400 16px / 1.6em 'PT Serif', serif;
		color: #374251;
		letter-spacing: .01em;
		text-indent: 1em;
	}

	h6 {
		display: inline-block;
		margin: .5em 0 4em;
		padding: 0 .75em;
		font: 700 20px / 2em 'PT Serif', serif;
		color: #eee;
		background: #374251;
		letter-spacing: .08em;
		text-transform: uppercase;
	}
}