
// methylenedioxymethamphetamine
.lyric-45 {
	
	height: 700px;
	color: #000;
	background: #fff;
	background-image: url('../../img/MDMA.png');
	background-size: 300px;
	background-position: center 40%;
	background-repeat: no-repeat;
	
	.container {
		top: 50%;
		left: 45%;
		position: absolute;
		padding: 3em 2em 2em;
		width: auto;
		background: #FEFFE7;
		box-shadow: 3px 3px 16px rgba(0,0,0,.1);
	}

	p {
		font: 400 15px / 1em 'Merriweather', sans-serif;
	}
	
	p:last-of-type {
		padding-bottom: 1.75em;
		border-bottom: 1px solid #999;
	}

	h6 {
		font: 400 15px / 1em 'Merriweather', sans-serif;
	}
}