@import 'variables';

.lyric-54 {
	background: #fff;
	text-align: center;
	height: 580px;
	
	p:first-of-type {
		@include absolute-center(800px);
		top: 17rem;
		font: 400 4.6rem/1.6em 'Oswald', sans-serif;
		color: #F0f0f0;
		text-transform: uppercase;
    transform: rotate(-5deg);
	}
	
	p:last-of-type {
		@include absolute-center(800px);
		top: 17rem;
		font: 400 6rem/1.2em 'Grand Hotel', script;
		color: #FEE16C;
	}
	
	h6 {
    font-size: 1.4rem;
		@include absolute-center(400px);
		bottom: 18rem;
		color: #999;
	}
	
}
