// =============================================================================
// ====================================  44  ===================================
// =============================================================================

// I can hear sweat trickle down your cheek.
// Your heartbeat sound like sasquatch feet. Thundering, shaking the concrete.
.lyric-44 {
	$background: #2B2B42;

	background: $background;

  .container {
	padding: 10em 0 7em;
	width: 460px;
  }

  h1 {
	margin-bottom: 40px;
	font: 900 72px / .9em 'Source Serif Pro', serif;
	color: #475E8A;
  }

  p {
	font: 300 22px / 1.4em 'Source Sans Pro', sans-serif;
	color: #475E8A;
  }

  p:last-of-type {
	margin: 2em 0;
	color: #475E8A;
  }
}