@import 'variables';


.lyric-56 {
	padding: 200px 0 150px;
	color: #F4F2F3;
	background-color: #5f6c60;
  background-image: url('../../../public/img/concrete-wall.png');
	
	.container {
		width: 450px;
		text-align: center;
		
		span {
			padding: 0 .25em;
			background: #334234;
		}
	}
	
	p {
		font: 400 1.6rem/1.6em 'Bitter', serif;
	}
	
	h6 {
		font: 700 2rem/4em 'Cabin', sans-serif;
	}
}
