@import 'variables';

// appetite for destruction but I scrape the plate

.lyric-47 {
	height: 500px;
	text-align: center;
	background-color: lighten(#34495e,20%);
	background-size: 120px  120px;
	
	.dish {
		@include absolute-center(500px);
		background: #eee5b2;
		top: 150px;
		height: 500px;
		width: 500px;
		border-radius: 50%;
		box-shadow: -12px 12px 0 darken(#34495e, 5%);
	}
	
	.dish-inner {
		@include absolute-center(350px);
		background: #eee5b2;
		top: 75px;
		height: 350px;
		width: 350px;
		border-radius: 50%;
		box-shadow: 6px -6px 0 darken(#eee5b2,10%);
		
		p {
			width: 200%;
			margin-top: 3.5em;
			margin-left: -50%;
			font: 700 2.2em/1.5em 'Lato', sans-serif;
			font-style: italic;
			color: #34495e;
			transform: rotate(-8deg);
		}
		
		h6 {
			@include absolute-center(200px);
			margin-top: 1em;
			font-size: 22px;
			font-weight: 200;
			line-height: 2.4em;
			letter-spacing: .1em;
			text-transform: uppercase;
			color: #34495e;
		}
	}
	
}
