
.lyric-39 {
	//Swimmin' laps around a bottle of Louie the Thirteenth. Jumpin’ off of a mountain into a sea of codeine. I’m at the top of the top, but still I climb. And if I should ever fall, the ground will then turn to wine.

	padding: 200px 0;
	position: relative;
	background: #EECDA3;
	background: -webkit-linear-gradient(to bottom, #EECDA3 , #EF629F);
	background: linear-gradient(to bottom, #EECDA3 , #EF629F);

	
	.container {
		width: 600px;
		text-align: center;
	}

	p {
		margin: 0 auto;
		width: 180px;
		font: 400 22px / 3em 'Lato', serif;
		font-style: italic;
		color: #fff;
		text-shadow: 0px 1px 0px darken(#BE90D4, 30%),
		0px 2px 0px darken(#BE90D4, 30%);
	}

	h6 {
		width: 150px;
		margin: 0 auto;
		padding: 2em;
		font: 900 20px / 1.6em 'Lato', serif;
		text-transform: uppercase;
		color: #fff;
		text-shadow: 0px 1px 0px darken(#BE90D4, 30%),
		0px 2px 0px darken(#BE90D4, 30%);
	}
  }