@import 'variables';

// =============================================================================
// ====================================  42  ===================================
// =============================================================================

.lyric-42 {
  // Jackie Robinson

  padding: 180px 0 220px;
  background: #466AAB;
  overflow: auto;

  .container {
	width: 580px;
	overflow: hidden;
  }

  h1 {
	font: 400 200px / 1.2em 'Ultra', sans-serif;
	text-align: center;
  }

  p {
	padding-top: 2.3em;
	font: 300 22px / 1.6em 'Roboto Slab', serif;
	color: $white;

	span {
		display: block;
	}
  }

  h6 {
	font: 200 32px / 2.8em 'Roboto Slab', sans-serif;
	text-transform: uppercase;
	text-align: center;
	// letter-spacing: .2em;
	color: #fff;
	background: #466AAB;
	border-top: 20px solid #fff;
  }
}