


// =============================================================================
// ====================================  25  ===================================
// =============================================================================

.lyric-25 {
  // Feeling mad hostile, wearing Aeropostale
  // Flowing like Christ when I speaks the gospel

	padding: 240px 0;
	text-align: center;
	background: #5f2c82;

  .container {
    display: inline-block;
    padding: 4em 6em;
    width: auto;
    color: #fff;
    background: #5f2c82;
    box-shadow: 1px 1px 64px rgba(0,0,0,.5);
  }

  p {
    font: 400 34px / 1.5em "Bangers", sans-serif;
  }

  h6 {
    margin-top: 1em;
    font: 400 18px / 1.4em  "Muli", sans-serif;
    text-transform: uppercase;
  }

}
