
.lyric-58 {
	padding: 240px 0;
	font-family: 'Lato', sans-serif;
	text-align: center;
	text-transform: uppercase;
	background: #577e92;
	
	p {
		font-size: 4rem;
		line-height: 1.6em;
		font-weight: 100;
		color: white;
		   -webkit-text-fill-color: #577e92;
		   -webkit-text-stroke-width: 1px;
		   -webkit-text-stroke-color: white;
		span { display: block }
		span:nth-of-type(1),
		span:nth-of-type(3) {
			text-transform: none;
		}
	}
	
	h6 {
		padding: .25em .75em;
		display: inline-block;
		margin: 3em 0 0 -.25em;
		font-size: 1.6rem;
		font-weight: 400;
		letter-spacing: .08em;
		background: darken(#577e92,20%);
		
		a { 
			color: #fff;
		}
	}
}