
// =============================================================================
// ====================================  17  ===================================
// =============================================================================

.lyric-17 {
  // Not an average Joe, with an average flow
  background: #CFC0BD;

  .container {
	padding: 60px 0;
  }

  p {
	font-family: 'Covered By Your Grace', sans-serif;
	font-size: 60px;
	text-align: center;
	color: #586F6B;
  }

  p span {
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	color: #7F9183;
  }

  h6 {
	margin-top: 100px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	font-size: 22px;
	color: #586F6B;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.08em;
  }
}