.lyric-63 {
	background: #59BC8D;
	
	.container {
		padding: 180px 0;
		width: 32rem;
		text-align: center;
	}
	
	p {
		margin-bottom: .5em;
		font: 900 4rem/1.2em 'Playfair Display', Georgia, serif;
	}
	
	h6 {
		color: #59BC8D;
		font: 400 1.75rem/3em 'Roboto', Georgia, serif;
		background: #fff;
	}
}
