.lyric-62 {
	background: #fff;
	padding: 250px 0;
	
	.container {
		width: 500px;
		text-align: center;
	}

	p {
		display: block;
    font: 700 2rem/2em 'Oswald', sans-serif;
		color: #3E4348;
		text-transform: uppercase;
		
    &.either,
    &.or,
    &.stretcher {
      line-height: 4em;
      background: #3E4348;
      color: #fff;
    }
    
    &.m-y-o-b,
    &.b-y-o {
      line-height: .666em;
      text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;  
    }
    
    &.m-y-o-b {
      font-size: 10rem;
    }
    
    &.b-y-o {
      font-size: 14rem;
    }
	}
	
	
	h6 {
		margin-top: 1rem;
		font: 700 5rem/2em 'Oswald', sans-serif;
		color: #EC6A5C;
		text-transform: uppercase;
	}
}
