.lyric-57 {
	padding: 0;
	// background-image: url('../../../public/img/canyon-red-erosion.jpeg');
  background-image: url('../../../public/img/abstract-hexagons.jpg');
	background-size: cover;
	
	.container {
		padding: 20rem 0;
    width: 100%;
    text-align: center;
		background: #280000;
		background: -webkit-linear-gradient(315deg, rgba(#280000,1) , rgba(#004e92,.75));
		background: linear-gradient(315deg, rgba(#280000,1), rgba(#004e92,.75));
	}
	
  h2,
  h2 span,
  h6 {
    width: 640px;
    margin: 0 auto;
  }
  
  h2 {
    font: 400 2.4rem/1.6 'Merriweather Sans', sans-serif;
  }
  
	h2 span {
    display: block;
		font: 900 2.7rem/1.6 'Merriweather', serif;
	}
	
	h6 {
		width: 640px;
    padding-top: 60px;
		font: 900 1rem/1.4em 'Merriweather Sans', sans-serif;
	}
}
