


// =============================================================================
// ====================================  31  ===================================
// =============================================================================

.lyric-31 {
  // sophisticated ignorance
  // write my curses in cursive

  padding: 220px 0;
  background: #405952;

  .container {
	width: 500px;
  }

  p {
	margin-bottom: 1em;
	font: 400 20px / 1.8em 'Roboto', sans-serif;
	color: #9C9B7A;
  }

  h4 {
	margin-bottom: 1em;
	font: 100 30px / 1.4em 'Roboto Slab', sans-serif;
	color: #FFD393;
  }

  h2 {
	margin-bottom: .5em;
	font: 400 80px / 1em 'Satisfy', sans-serif;
	color: #FF974F;
  }

  h6 {
	font: 400 24px / 3em 'Roboto', sans-serif;
	color: #9C9B7A;
	border-top: 4px solid #9C9B7A;
  }
}