
// methylenedioxymethamphetamine
.lyric-45 {
	
	height: 600px;
	color: #000;
	background: #fff;
	background-image: url('../../img/MDMA.png');
	background-size: 25%;
	background-position: center 40%;
	background-repeat: no-repeat;
	
	.container {
		top: 50%;
		left: 50%;
		position: absolute;
		padding: 3em 2em 2em;
		width: auto;
		background: #FEFFE7;
		box-shadow: 1px 1px 16px rgba(0,0,0,.1);
	}

	p {
		font: 400 18px / 1em 'Merriweather', sans-serif;
	}

	h6 {
		margin-top: 1em;
		font: 400 15px / 1.75em 'Merriweather', sans-serif;
		// color: #ddd;
		// letter-spacing: .25em;
		opacity: .5;
	}
}