.lyric-51 {

	padding: 150px 0;
	background: #d4e0eb;
	text-align: center;
	background-size: 100px;

	.container {
		padding: 105px 40px 55px;
		position: relative;
		width: 540px;
		background: lighten(#d4e0eb,10%);
		border-radius: 50%;
		border: 60px solid darken(#d4e0eb,10%);
	}
	
	h5 {
		// We don't do drive bys
		font: 400 1.5rem/1em 'Work Sans', script;
		color: #575977;
		text-align: center;
	}
	
	h3 {
		// We park infront of hosues and shoot
		margin: 30px 0 10px;
		font: 400 4rem/1.1em 'Playfair Display', script;
		font-style: italic;
		color: #c16f70;
		text-align: center;
	}
	
	p {
		// and if the police come...
		margin: 0;
		padding: 1em 1em;
		font: 400 1.5rem/1.8em 'Work Sans', script;
		display: inline-block;
		color: #575977;
		text-align: center;
	}
	
	h6 {
		display: inline-block;
		margin-top: .5em;
		width: 160px;
		font: 400 1.6rem/2em 'Work Sans', script;
		background: #575977;
	}
}
