.lyric-62 {
	background: #CCDAD1;
	padding: 250px 0;
	
	.container {
		width: 500px;
		text-align: center;
	}

	p {
		display: block;
    font: 700 2rem/2em 'Oswald', sans-serif;
		color: #788585;
		text-transform: uppercase;
		
    &.either,
    &.or,
    &.stretcher {
      font-size: 3rem;
      line-height: 3em;
      background: #9CAEA9;
      color: #CCDAD1;
    }
    
    &.m-y-o-b,
    &.b-y-o {
      line-height: .5em;
	    -webkit-text-stroke-width: 4px;
	    -webkit-text-stroke-color: #CCDAD1;
    }
    
    &.m-y-o-b {
      font-size: 8rem;
    }
    
    &.b-y-o {
      font-size: 12rem;
    }
	}
	
	
	h6 {
		margin-top: 1rem;
		font: 700 5rem/2em 'Oswald', sans-serif;
		color: #6F6866;
		text-transform: uppercase;
	}
}
