.lyric-57 {
	padding: 0;
	background-image: url('../../../public/img/canyon-red-erosion.jpeg');
	background-size: cover;
	
	.container {
		padding: 20rem 0;
		background: #280000;
		background: -webkit-linear-gradient(315deg, rgba(#280000,1) , rgba(#004e92,.75));
		background: linear-gradient(315deg, rgba(#280000,1), rgba(#004e92,.75));
		width: 100%;
	}
	
	h2 {
		width: 640px;
		margin: 0 auto;
		font: 900 2.7rem/1.4em 'Merriweather', serif;
		text-transform: uppercase;
	}
	
	h6 {
		width: 640px;
		margin: 1.5rem auto 0;
		font: 900 1rem/1.4em 'Merriweather Sans', sans-serif;
	}
}