

// =============================================================================
// ====================================  41  ===================================
// =============================================================================

.lyric-41 {
	// Uncommon Valor

	padding: 200px 0;
	background: #eee;
	
	.container {
		width: 685px;
	}

	.intro {
		font-weight: 740;
	}

	.indent {
		padding-right: 2em;
	}

	h1 {
		margin: 0;
		color: #374251;
		font: 900 4.6rem / 1.2em 'PT Serif', serif;
	}

	p {
		font: 400 15px / 1.7em 'PT Serif', serif;
		color: #374251;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	h6 {
		display: inline-block;
		margin: .5em 0 2em;
		padding: 0 .75em;
		font: 700 20px / 2em 'PT Serif', serif;
		color: #eee;
		background: #374251;
		letter-spacing: .08em;
		text-transform: uppercase;
	}
}