.lyric-50 {
	padding: 270px 0;
	background: #3c5063;
	color: #eddb99;
	text-align: center;
	
	h4 {
		display: inline-block;
		font: 400 256px/.333em 'Neuton', serif;
	}
	
	p {
		margin-top: -2em;
		padding: 0 0 2em;
		font: 400 24px/1.7em 'Neuton', serif;
		color: #fff;
		font-style: italic;
	}
	
	h6 {
		font: 900 24px/1.7em 'Raleway', sans-serif;
		text-transform: uppercase;
		letter-spacing: .3em;
	}
}