@import 'variables';


// =============================================================================
// ====================================  21  ===================================
// =============================================================================

.lyric-21 {
  // African-American Express
  padding: 75px 0 150px;
  background: #4f1a31;

  .container {
	width: 720px;
	padding-top: 5em;
	text-align: center;
  }

  p {
	font: 400 22px / 1.7em 'Josefin Sans', sans-serif;
	color: #E8D9AC;
  }

  h2 {
  	margin: .5em 0;
		font: 400 60px / 1.4em 'Pinyon Script', cursive;
		color: $white;
  }

  h6 {
		font: 700 26px / 2em 'Josefin Sans', serif;
		color: #C7B07B;
  }
}