@import 'variables';

// Now that's practicing sacrilegious activism Attack is for battle, and practical rap with wisdom Actually, it's pragmatic capitalism for actors that crack under pressure and collapse when I get 'em Monch is medicinal man made medical marijuana With a phase plasma rifle like I'm searchin' for Sarah Conner’

.lyric-48 {
	// background: #2a442f;
	background: #152819;
	
	.container {
		width: 680px;
		padding: 8em 0;
	}
	
	.circuit {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: url('../../img/circuit2.png');
		background-size: cover;
		opacity: .05;
	}
	
	hr {
		margin-bottom: 2em;
		height: 3px;
		background-color: #2b8a35;
		border: 0;
		box-shadow: 1px 1px 16px #2b8a35;
	}
	
	p {
		margin: 0 0 2em;
		font: 400 22px / 2 'Exo', Courier, monospace;
		color: lighten(#2b8a35,30%);
		text-shadow: 1px 1px 16px #2b8a35, 0px 0px 1em #2b8a35, 0px 0px 2em #2b8a35;
	}
	
	h6 {
		font: 400 26px / 36px 'Exo', Courier, monospace;
		color: lighten(#2b8a35,30%);
		text-shadow: 1px 1px 16px #2b8a35, 0px 0px 1em #2b8a35, 0px 0px 2em #2b8a35;
	}
	
	
	@for $i from 1 through 20 {
		.container span:nth-of-type(#{$i}) {
			animation-delay: $i * 1.17s;
		}
	}
	
	.container span {
		animation: flicker 9s linear infinite;
	}
	
	@keyframes flicker {
		0% { opacity: 1; }
		14% { opacity: 1; text-shadow: 1px 1px 16px #2b8a35, 0px 0px 1em #2b8a35, 0px 0px 2em #2b8a35; }
		15% { opacity: .8; text-shadow: 0; }
		16% { opacity: 1; text-shadow: 1px 1px 16px #2b8a35, 0px 0px 1em #2b8a35, 0px 0px 2em #2b8a35; }
		19% { opacity: 1; }
		20% { opacity: .5; }
		21% { opacity: 1; }
		100% { opacity: 1; }
	}
}
