@import 'variables';

.lyric-16 {
  // E.E. Cumming on her face now that's poetry in motion
  background: #01A2A6;
  background-image: url('../../img/connected.png');
  text-align: center;

  .container {
  	padding: 6em 0;
  }

  p {
	margin-bottom: 40px;
	font-family: 'Plaster', cursive;
	font-size: 46px;
	color: #fff;
  }

  h6 {
	display: inline-block;
	padding: .25em 1.25em;
	font-size: 20px;
	letter-spacing: .08em;
	text-transform: uppercase;
	border: 2px solid #fff;
	color: #fff;
  }
}