.lyric-72 {
  background-color: #C77966;
  
  .container {
    position: relative;
    width: 400px;
  }
  
  p {
    margin: 0;
    font-size: 32px;
    line-height: 3;
    font-family: 'Inconsolata', monospace;
    text-align: center;
  }
  
  .love,
  .hate {
    padding-top: .3em;
    font: 700 5em/1 'Crimson Text', serif;
    text-transform: uppercase;
    border-top: 18px solid;
    border-bottom: 18px solid;
  }
  
  .love {
    border-color: #fff;
  }

  .hate {
    border-color: #000;
    color: #000;
  }


  .foreground {
    position: absolute;
    z-index: 10;
  }

  .love.foreground {
    top: 114px; 
    left: 50%;
    transform: translateX(-50%); 
    border: 0;
  }

  .hate.foreground {
    top: 254px;
    left: 50%;
    transform: translateX(-50%); 
    border: 0;
  }
  
  .amp {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    font: 400 22em/1 'Crimson Text', serif;
    font-style: italic;
    color: #8a3f3f;
    transform: translate3d(-50%,-50%,0);
  }
  
  h6 {
    margin-top: 1.5em;
    font-size: 24px;
    color: #fff;
    text-align: center;
  }
  
  
}
