@import 'variables';


.lyric-56 {
	padding: 160px 0;
	color: #F4F2F3;
	background-color: #888;
  background-image: url('../../../dist/img/concrete-wall.png');
	
	.container {
		width: 450px;
		text-align: center;
		
		span {
			padding: 0 .25em;
			background: #EF5A30;
		}
	}
	
	p {
		font: 400 1.6rem/1.6em 'Bitter', serif;
	}
	
	h6 {
		margin-top: 3rem;
		font: 400 1.6rem/1.6em 'Bitter', sans-serif;
		color: #fff;
	}
}
