.lyric-70 {
  padding: 200px 0;
  background: #8FA68E;
  text-align: center;
  
  p {
    font: 400 60px/2 'AbeeZee', sans-serif;
    color: lighten(#8FA68E,20%);
  }
  
  .divider {
    display: inline-block;
    height:3em;
    width: 250px;
    margin: 0 2em;
    background: lighten(#8FA68E,5%);
  }
  
  .like {
    font: 400 60px/1 "Pacifico", cursive;
    color: #F1F2C0;
  }
  
  h6 {
    font: 400 40px/2 'AbeeZee', sans-serif;
    color: #CCC59E;
  }
}