

// =============================================================================
// ====================================  41  ===================================
// =============================================================================

.lyric-41 {
	// Uncommon Valor

	padding: 200px 0;
	background: #eee;
	
	.container {
		width: 760px;
		overflow: auto;
	}

	.intro {
		font-weight: 700;
	}

	.indent {
		padding-right: 2em;
	}
	
	.pull-left,
	.pull-right {
		width: 48%;
	}

	h1 {
		margin: 0;
		color: #374251;
		font: 700 4.6rem / 1em 'Vollkorn', serif;
	}

	p {
		margin: 0;
		font: 400 16px / 1.333em 'Vollkorn', serif;
		color: #374251;
		letter-spacing: .01em;
		text-indent: 1em;
	}

	h6 {
		margin: .5em 0 1em;
		padding: .5em;
		font: 400 18px / 2em 'Open Sans', serif;
    border-top: 2px solid #374251;
    color: #374251;
	}
}
