.lyric-71 {
  
  padding: 200px 0;
  background: #f0f5f9;
  
  .container {
    width: 600px;
  }
  
  p {
    font: 300 30px/2 'Work Sans', sans-serif;
    color: #52616a;
  }
  
  p span {
    display: block;
    font: 400 124px/1.2 'Parisienne', cursive;
    color: #c9d6de;
  }
  
  h6 {
    margin-top: 2em;
    font: 900 18px/2 'Work Sans', sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #52616a;
  }
  
}