.lyric-66 {
  height: 400px;
  background: #2B2B42;
  text-align: center;
  
  .foreground,
  .background {
    position: absolute;
    top: 200px;
    width: 600px;
    font: 400 5.6rem/1.2 'Yellowtail', cursive;
  }
  
  .foreground {
    z-index: 2;
    color: #475E8A;
    transform: translate3d(-50%, 0, 0);
  }
  
  .background {
    z-index: 1;
    color: #1D1D2C;
    transform: translate3d(-60%, 10%, 0);
  }
  
  h6 {
    position: absolute;
    width: 400px;
    left: 50%;
    bottom: 200px;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #475E8A;
    transform: translateX(-50%);
    text-shadow: -20px 20px 0 #1D1D2C;
  }
  
}
