.lyric-68 {
  
  display: flex;
  align-items: center;
  height: 45em;
  padding: 20px 0;
  background: #ffda8e;
  background-color:white;
  background-position: center center;
  background-image: linear-gradient(90deg, rgba(200,0,0,.4) 50%, transparent 50%),
  linear-gradient(rgba(200,0,0,.4) 50%, transparent 50%);
  background-size: 420px 420px;
  
  .container {
    width: 200px;
    padding-top: 40px;
    margin: 0 auto;
    border: 20px double desaturate(lighten(#004e66,50%),80%);
  }
  
  p {
    font: 700 4em/.8 'Merriweather', serif;
    color: #004e66;
    box-sizing: border-box;
    // -webkit-text-stroke-width: 2px;
    // -webkit-text-stroke-color: white;
  }
  
  h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    font: 700 1.6em/2 'Libre Franklin', serif;
    color: #004e66;
    text-align: center;
  }

  p:nth-of-type(2n) {
    text-align: right;
  }
  
  p:nth-of-type(2n+1) {
    transform: translateX(-.5em);
  }
  
  p:nth-of-type(3n) {
    transform: rotate(6deg);
  }
  p:nth-of-type(4n) {
    transform: rotate(-4deg);
  }
  
}