
.lyric-58 {
	padding: 200px 0 140px;
  font-family: 'Lato', sans-serif;
	text-align: center;
  text-transform: uppercase;
	background: #c38392;
	
	p {
		font-size: 2.5rem;
		line-height: 2;
    color: #FFC4D1;
		span {
      font-size: 6rem;
      font-family: 'Bungee Inline', sans-serif;
      line-height: 1;
      text-shadow: 1px 1px 16px rgba(0,0,0,.5);
		}
	}
	
	h6 {
    display: inline-block;
		margin: 2em 0;
		font-size: 2rem;
    font-family: 'Lato', sans-serif;
		letter-spacing: .08em;
    
		a {
      padding: .25em .5em;
      background-color: #FFC4D1;
      color: #a56c6c;
		}
	}
}
