.lyric-74 {
    padding: 180px 0 150px;
    background: #174C4F;
    font-family: "Lora", serif;
    
    .container {
      width: 680px;
    }
    
    h3 {
      font-size: 72px;
      font-weight: 700;
      color: #FF9666;
    }
    
    h4 {
      padding: .5em 0;
      line-height: 1.6em;
      font-size: 28px;
      font-style: italic;
      color: #FFE184;
    }
    
    .body {
      display: flex;
    }
    
    .left {
      flex: 3;
      padding-top: 1.5em;
      padding-right: 3em;
    }
    
    .left h6 {
      font-size: 30px;
      font-family: "Questrial", sans-serif;
      line-height: 1.5;
      text-align: right;
      color: #46868c;
    }

    .right {
      flex: 5;
    }
    
    .right span {
      display: block;
      line-height: 1.6;
      color: #F5E9BE;
    }
}