
// =============================================================================
// ====================================  15  ===================================
// =============================================================================

.lyric-15 {
  // The squareroot of 69 is 8 something, right?

  padding: 260px 0 220px;
  color: #f0f0f0;
  background: #2F4F4F;

  .container {
	position: relative;
	width: 260px;
	text-align: center;
  }

  p {
	margin-bottom: .5em;
	font-size: 30px;
	line-height: 1.3em;
	font-family: 'Neuton', serif;
	letter-spacing: .02em;
  }

  h6 {
	margin-top: 72px;
	font-size: 18px;
	text-align: center;
	opacity: .5;
	text-transform: uppercase;
  }

  .lbrac,
  .rbrac {
	position: absolute;
	top: -20px;
	font-size: 400px;
	font-family: 'Neuton', serif;
  }

  .lbrac { left: -160px; }
  .rbrac { right: -160px; }

}