@import 'variables';

// =============================================================================
// ====================================  5  ====================================
// =============================================================================

.lyric-5 {
  // I get more ass than a toilet seat
  $blue: #3498db;

  padding: 0;
  font-family: 'Roboto Slab', serif;
  background: #f8f8f8;
  overflow: hidden;

  hr {
	border: 0;
	border-top: 1px dashed rgba(0,0,0,.2);
	margin: 16px 0;
  }

  .container {
	width: 520px;
	padding: 200px 0;
	background: $white;
	box-shadow: 0px 30px 60px 0px rgba(darken($blue, 40%),.2);
  }

  p {
	width: 65%;
	margin: 0 auto;
	font-size: 40px;
	font-weight: 100;
	line-height: 1.3em;
	color: $blue;
	text-align: center;
  }

  h6 {
	font-size: 20px;
	font-weight: 700;
	line-height: 2em;
	letter-spacing: .09em;
	color: $blue;
	text-align: center;
	text-transform: uppercase;
  }

}
