.lyric-60 {
	
	padding: 200px 0;
	background: #24272E;
  
	p,h6 {
		font-size: 1.6rem;
		line-height: 1.4em;
	}
	
	.container {
		width: 310px;
		font-family: "Archivo Black", sans-serif;
		color: #999;
		
		p span {
			color: #AD5F55;
		}
	}

}
