


// =============================================================================
// ====================================  23  ===================================
// =============================================================================

.lyric-23 {
  // Cause I’m cooler than a polar bears toenails
  background: #88B1D3;
  background-image: url('../../img/asfalt-light.png');

  .container {
	width: 540px;
	text-align: center;
  }

  p {
	padding-bottom: 60px;
	font: 400 80px / 1.4em 'Bree Serif', sans-serif;
	color: #DAEDE2;
	text-shadow: 0 6px 0 #417378;
  }

  h6 {
	font: 400 24px / 1em 'ABeeZee', sans-serif;
	text-align: center;
	color: #28578F;
  }
}