.lyric-70 {
  padding: 200px 0;
  background: #8FA68E;
  text-align: center;
  
  p {
    font: 400 60px/1 'AbeeZee', sans-serif;
    color: lighten(#8FA68E,20%);
    z-index: 2;
  }
  
  .divider {
    display: inline-block;
    height: 2em;
    width: 250px;
    margin: 0 2em;
    background: lighten(#8FA68E,5%);
    z-index: 1;
  }
  
  .like {
    font: 400 60px/1.4 "Pacifico", cursive;
    color: #F1F2C0;
  }
  
  h6 {
    margin-top: 1em;
    font: 700 40px/1.5 'AbeeZee', sans-serif;
    text-transform: uppercase;
    color: #CCC59E;
  }
  
  @media (max-width: 900px) {
    .divider {
      width: 90%;
      margin: 0 auto;
    }
  }
}