.lyric-62 {
	background: #836658;
	padding: 250px 0 200px;
	
	.container {
		width: 100%;
		text-align: center;
	}

	p {
		display: block;
    font: 700 2rem/2em 'Oswald', sans-serif;
		color: #CCDAD1;
		text-transform: uppercase;
    text-shadow: 1px 1px 32px rgba(0,0,0,.5);
		
    &.either,
    &.or,
    &.stretcher {
      margin-bottom: .05em;
      font-size: 4rem;
      line-height: 1em;
    }
    
    &.m-y-o-b,
    &.b-y-o,
    &.stretcher {
      margin-bottom: .04em;
      line-height: 1em;
    }
    
    &.m-y-o-b {
      font-size: 8rem;
    }
    
    &.b-y-o {
      font-size: 12rem;
    }
    
    &.stretcher {
      font-size: 8rem;
    }
	}
	
	
	h6 {
		margin-top: 3rem;
		font: 700 3rem/2em 'Oswald', sans-serif;
		color: #CCDAD1;
		text-transform: uppercase;
    text-shadow: 1px 1px 32px rgba(0,0,0,.5);
	}
}
