


// =============================================================================
// ====================================  2  ====================================
// =============================================================================

.lyric-2 {
  // Dead in the middle of little Italy
  $background: #f6f0e3;
  $text: #2c3e50;
  $attribution: #e99366;

  font-family: 'Vollkorn', serif;
  padding: 160px 0;
  background-color: $background;
	background-image: url('../../img/french-stucco.png');

  .body {
		width: 400px;
		margin: 0 auto;
		overflow-y: hidden;
		text-align: center;
  }

  .lyric {
		padding: 1em 0;
		font-size: 24px;
		font-style: italic;
		line-height: 1.6em;
		color: $text;
		border-top: 1px solid rgba($text, .5);
		border-bottom: 1px solid rgba($text, .5);
		opacity: .75;
  }

  .attribution {
  	display: inline-block;
  	padding: 0 1em;
		font-weight: 700;
		font-size: 16px;
		letter-spacing: .2em;
		color: $attribution;
		transform: translateY(-50%);
		text-transform: uppercase;
		background-color: $background;
		background-image: url('../../img/french-stucco.png');
  }
}