.lyric-62 {
	background: #82625e;
	padding: 150px 0 100px;
	
	.container {
		width: 100%;
		text-align: center;
	}

	p {
		display: block;
    font: 700 2rem/2em 'Oswald', sans-serif;
		color: #3E4348;
		text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #CCDAD1;
		
    &.either,
    &.or,
    &.stretcher {
      margin-bottom: .05em;
      font-size: 4rem;
      line-height: 1em;
      color: #3E4348;
      
    }
    
    &.m-y-o-b,
    &.b-y-o,
    &.stretcher {
      margin-bottom: .04em;
      line-height: 1em;
    }
    
    &.m-y-o-b {
      font-size: 8rem;
    }
    
    &.b-y-o {
      font-size: 12rem;
    }
    
    &.stretcher {
      font-size: 8rem;
    }
	}
	
	
	h6 {
		margin-top: 1rem;
		font: 700 3rem/2em 'Oswald', sans-serif;
		color: #CCDAD1;
		text-transform: uppercase;
	}
}
