.lyric-71 {
  padding: 0;
  height: 800px;
  background-image: url('../../img/chalkboard.jpg');
  background-size: cover;
  background-position: center 40%;

  .overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .8;
    background-color: #532C26;
    box-shadow: 0px 0px 16px rgba(0,0,0,.5);
  }

  .container {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 2em 4em;
    transform: translate3d(-50%,-50%,0);
  }
  
  p {
    font: 400 28px/2 'Permanent Marker', sans-serif;
    text-shadow: 0px 0px 16px rgba(0,0,0,.7);
  }
  
  p span {
    display: block;
    font: 400 64px/2 'Meddon', cursive;
    text-transform: none;
    text-shadow: 0px 0px 16px rgba(0,0,0,.8);
  }
  
  h6 {
    margin-top: 2em;
    font: 400 22px/2 'Permanent Marker', sans-serif;
    text-shadow: 0px 0px 8px rgba(0,0,0,.5);
    color: lighten(#532C26, 40%);
  }
  
}