// =============================================================================
// ====================================  46  ===================================
// =============================================================================

// EVEN THOUGH
// I WENT TO COLLEGE
// &
// DROPPED OUT OF SCHOOL QUICK, I ALWAYS HAD A
// PHD
// a PRETTY HUGE DICK

.lyric-46 {
	padding: 220px 0 180px;
	color: #959292;
	text-align: center;
	background: #f0f0f0;
  background-image: url('../../img/beige-paper.png');

	h1,h2,h3 {
		font-family: 'UnifrakturMaguntia', cursive;
		color: #7D7575;
		line-height: 1.2em;
	}

	h1 {
		margin-top: -60px;
		background: #f0f0f0;
    background-image: url('../../img/beige-paper.png');
		letter-spacing: .1em;
	}

	h2 {
		font-size: 6rem;
		line-height: 1em;
		opacity: .1;
	}

	p {
		width: 450px;
		margin: 0 auto;
		font: 400 26px / 1.3em 'Crimson Text', serif;
	}

	.pretty-huge-dick {
		display: inline-block;
		padding: 0 1em 1em;
		margin: 60px auto 80px;
		border: 6px double #a7a1a1;
	
	& > p {
		width: 300px;
    font-size: 22px;
		font-weight: 700;
		letter-spacing: .08em;
		text-transform: none;
	}
  }
}
