



// =============================================================================
// ====================================  32  ===================================
// =============================================================================

.lyric-32 {
  // You are witnessing elegance in the form of a black elephant

  padding: 260px 0;
  background: #000;

  .container {
	width: 600px;
	text-align: center;
  }

  p {
	margin-bottom: .5em;
	font: 900 80px / .8em 'Work Sans', sans-serif;
	text-transform: uppercase;
  }

  h6 {
	font: 100 30px / .8em 'Work Sans', sans-serif;
	text-transform: uppercase;
  }
}