


// =============================================================================
// ====================================  11  ===================================
// =============================================================================

.lyric-11 {
  // Suicidal Thoughts first verse
  padding: 300px 0;
  font-family: 'Old Standard TT', serif;
  color: #000;
  background: #fff;

	.container {
		width: 380px;
	}

  p {
	margin-bottom: 2em;
	font-size: 16px;
	line-height: 2em;
	text-align: justify;
  }

  h6 {
	text-align: center;
	font-size: 16px;
	font-style: italic;
  }

}
