.lyric-70 {
  
  background-color:#f4f4f4;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    
  .rhombus {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    transform: skew(10deg) translate3D(-80%, -50%, 0);
    background: rgba(0,0,0,.05);
  }
  
  .container {
    position: relative;
    z-index: 2;
    padding: 150px 0;
    padding-left: 90px;
    width: 400px;
  }
  
  p, h6 {
    font-family: 'Nixie One', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  
  p {
    color: #000;
  }
  
  p span {
    display: block;
    padding-left: 3px;
  }
  
  h6 {
    padding-left: 6px;
    color: #c0392b;
  }
}