@import 'variables';

$green: #81A395;

.lyric-53 {
	background: #e9d5b2;
	padding: 100px 0;
	
	.container {
		height: 600px;
		color: #81A395;
	}
	
	.dollar {
		background: #E9E6E1;
	}

	.dollar,
	.dollar-inner,
	.dollar-splash {
		box-sizing: border-box;
	}
	
	.dollar-inner,
	.dollar-splash { 
		width: 100%;
		height: 100%;
	}
	
	.dollar-inner {
		padding: 10em .3em .3em .3em;
		background-image: url('../../img/stardust.png');
		background-position: center center;
		background-size: 65%;
		border: 2px solid rgba($green,.5);
	}
	
	.dollar-splash {
		background: rgba($green,.2);
	}
	
	.dollar-portrait {
		@include absolute-center(160px);
		top: 3em;
		border: 2px solid rgba($green,.2);
		height: 200px;
		border-radius: 50%;
		background: #E9E6E1;
	}
	
	.dollar-content {
		@include absolute-center(560px);
		top: 5.75em;
	}
	
	.dollar {
		@include absolute-center(800px);
		top: 13em;
		height: 340px;
		padding: 1em;
		border: 1px solid $green;
		text-align: center;
		
		p {font: 700 2.6rem/1.4em 'Noto Serif', serif;}
		
		h6 {
			width: 200px;
			margin: .8em auto;
			font: 400 1.2rem/1.8em 'Noto Sans', serif; 
			text-transform: uppercase;
			background: #E9E6E1;
			border: 1px solid $green;
		}
	}
	
}
