@import 'variables';

// =============================================================================
// ====================================  24  ===================================
// =============================================================================

.lyric-24 {
  padding: 150px 0;
  background: #2A2C2B;

  .container {
		width: 600px;
		padding-bottom: 40px;
		overflow: auto;
		text-align: center;
  }

  h4 {
		margin-bottom: 1em;
		font: 400 20px / 2em 'Work Sans', sans-serif;
		color: #707d7b;
		text-transform: uppercase;
  }

  h1 {
		margin: 0;
		font: 700 42px / 1.4em 'Domine', serif;
		color: #fef8b8;
		text-shadow: 0px 2px 16px rgba(#D9CB9E,.2);
  }

  h6 {
  	color: #D9CB9E;
		font: 400 26px / 4em 'Work Sans', sans-serif;
  }

}