

// =============================================================================
// ====================================  28  ===================================
// =============================================================================

.lyric-28 {
  // Nothing was fucking awesome, trying to make it from the bottom
  // this is feeling as hard as Vince Carter's knee cartilage is.
  padding: 320px 0;
  background: #1B3463;

  .container {
	width: 710px;
  }

  p {
	margin-bottom: 2em;
	font: italic 400 30px / 1.4em 'Alegreya', serif;
  }

  h6 {
	font: 700 20px / 1.4em 'Alegreya', serif;
	text-transform: uppercase;
  }

}