// =============================================================================
// ====================================  9  ====================================
// =============================================================================

.lyric-9 {
  // Y'all couldn't rap this dope with a zig-zag
  $background: #f0f0f0;
  $green: #3CA55C;
  $orange: #B5AC49;

  padding: 200px 0;
  font-family: 'Lora', serif;
  background: $background;

  .container {
	width: 620px;
	text-align: center;
  }

  p {
		margin-bottom: .5em;
		font-size: 60px;
		font-weight: 700;
		letter-spacing: -.05em;
		line-height: 1.2em;
		background: #3CA55C;
		background: -webkit-linear-gradient(45deg, rgba(47, 144, 54, 1) 0%, rgba(47, 144, 54, 1) 18%, rgba(208, 150, 37, 1) 33%, rgba(255, 153, 0, 1) 62%, #9c0707 100%);
		background: linear-gradient(45deg, rgba(47, 144, 54, 1) 0%, rgba(47, 144, 54, 1) 18%, rgba(208, 150, 37, 1) 33%, rgba(255, 153, 0, 1) 62%, #9c0707 100%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
  }

  h6 {
		font-size: 24px;
		letter-spacing: .03em;
		color: darken($background,60%);
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		opacity: .333;
  }

}
