
@import 'variables';

// =============================================================================
// ====================================  34  ===================================
// =============================================================================

.lyric-34 {
  // I got nines in the bedroom, Glocks in the kitchen. A shotty by the shower
  // if you wanna shoot me while I’m shittin’.

  padding: 180px 0 200px;
  background: #673939;
  color: #fff;

  .container {
	width: 590px;
	text-align: center;
  }

  .quote {
	display: block;
	font-size: 120px;
    color: #964f4f;
  }

  p {
	font: 700 28px / 1.5em 'Cardo', serif;
  }

  hr {
	width: 75px;
	height: 4px;
	margin: 2em auto;
	background: #964f4f;;
	border: 0;
  }

  h6 {
	font: 700 22px / 1.6em 'Montserrat', serif;
	text-transform: uppercase;
	letter-spacing: .2em;

	span {
	  font-weight: 300;
	}
  }
}
