@import 'variables';

// =============================================================================
// ====================================  19  ===================================
// =============================================================================

.lyric-19 {
  // Will Smith don't gotta cuss in his raps to sell records
  padding: 260px 0;
  $background: #3E2525;
  background: $background;

  .container {
    display: flex;
  	width: 640px;
  }

  .left.column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  	text-align: center;
  }

  .right.column {
    flex: 2;
  	padding-left: 2em;
  	border-left: 4px solid lighten($background, 15%);
  	box-sizing: border-box;
  }

  p {
  	margin-bottom: 1em;
  	font: 24px / 1.5em 'Crimson Text', serif;
  	color: $white;
  }

  p:last-of-type {
  	margin: 0;
  }

  h6 {
  	font: 700 28px / 1em 'Crimson Text', sans-serif;
  	color: lighten($background, 20%);
  	text-transform: uppercase;
  	letter-spacing: .16em;
  }

}