.lyric-74 {
    padding: 180px 0;
    font-family: "Lora", serif;
    color: #fff;
    background-image: url('../../img/inkwater.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #FEEAD6;
    
    .container {
      width: 700px;
    }
    
    h3 {
      font-size: 72px;
      font-weight: 700;
      color: lighten(#E44758,10%);
    }
    
    h4 {
      padding: .5em 0 1em;
      line-height: 1.4em;
      font-size: 28px;
      font-family: "Quicksand", sans-serif;
      color: #E44758;
    }
    
    .body {
      display: flex;
      color: #883052;
    }
    
    .left {
      flex: 1;
      margin-right: 3em;
      padding-top: 1em;
      border-top: 2px solid #E44758;
    }
    
    .left h6 {
      font-size: 20px;
      font-family: "Quicksand", sans-serif;
      line-height: 1.5;
      text-transform: uppercase;
    }

    .right {
      flex: 2;
    }
    
    .right span {
      display: block;
      line-height: 1.7;
    }
}