@import 'variables';

.lyric-69 {
  height: 600px;
  padding: 0;
  background-color: #D2D3CD;

  
  .container {
    @include absolute-total-center(600px);
    top: 50%;
    left: 60%;
    color: #333;
  }
  
  p {
    margin-bottom: 1.5em;
    font: 400 20px/1.4 'Scope One', serif;
  }

  h6 span {
    font: 400 16px/1.4 'Scope One', serif;
    letter-spacing: .1em;
  }
  
  h6 {
    font: 400 16px/1.4 'Scope One', serif;
  }


  
}
