.lyric-59 {
	
	padding: 200px 0;
	background: #D2BEAB;
	
	.container {
		width: 580px;
	}
	
	.paper {
		position: relative;
		padding: 6em 2em 4em;
		background: #F8F8F8;
		box-sizing: border-box;
		box-shadow: 0px 0px 64px rgba(darken(#857187,20%),.25);
	}
	
	.body {
		position: relative;
		height: 100%;
		z-index: 10;
	}
	
	.sidebar {
		position: absolute;
		top: 30px;
		bottom: 30px;
		left: 30px;
		width: 164px;
		background: #857187;
		opacity: .1;
	}
	
	h2 {
		padding: 80px 0 0 60px;
		font: 900 4.5rem/1.5em 'Playfair Display', serif;
		font-style: italic;
		color: darken(#D5C5B9,10%);
	}
	
	h6 {
		padding-left: 60px;
		font: 900 1.5rem/1em 'Vollkorn', serif;
		color: darken(#ACDBD0,10%);
	}
	
	p {
		margin-top: 40px;
		padding: 0 0 0 220px;
		color: darken(#857187,10%);
		font: 400 .9rem/1.5em 'Vollkorn', serif;
	}
}
