.lyric-71 {
  
  padding: 200px 0;
  background: #E3CDA4;
  
  .container {
    width: 600px;
  }
  
  p {
    font: 300 30px/2 'Work Sans', sans-serif;
    color: #703030;
  }
  
  p span {
    display: block;
    font: 400 124px/1.2 'Parisienne', cursive;
    color: #C77966;
  }
  
  h6 {
    font: 900 18px/2 'Work Sans', sans-serif;
    letter-spacing: .25em;
    text-transform: uppercase;
    color: #703030;;
  }
  
}