@import 'variables';

// =============================================================================
// ====================================  3  ====================================
// =============================================================================

.lyric-3 {
  // Real G's move in silence like lasagna
  $background: #ffb03b;
  $silence: #fff0a5;
  $primary: #8e2800;
  $secondary: #b64926;
  $attribution: #468966;

  padding: 200px 0;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-transform: uppercase;
  background: $background;

  h1 {
	// Silence
	font-family: 'Lato', sans-serif;
	font-size: 123px;
	font-weight: 100;
	color: $silence;
	opacity: .8;
  }

  h2 {
	// Real G's move in
	color: $primary;
	font-weight: 700;
  }

  h3 {
	// Like lasagna
	margin-bottom: 1em;
	font-size: 67px;
	font-weight: 700;
	color: $secondary;
  }

  h4 {
	// Lil Wayne
	font-size: 40px;
	font-style: italic;
	font-weight: 700;
	color: $attribution;
	text-transform: none;
  }

}
