@import 'variables';


.lyric-56 {
	padding: 160px 0;
	color: #5b5b5b;
	background: linear-gradient(200deg,#fffcf9 0,#b1ede8 100%);
	
	.container {
		width: 450px;
		text-align: center;
		
		span {
			font-style: italic;
		}
	}
	
	p {
		font: 400 1.6rem/1.6em 'IM Fell Great Primer', serif;
	}
	
	h6 {
		margin-top: 3rem;
		font: 400 16px/1.6em 'IM Fell Great Primer', sans-serif;
		letter-spacing: .25em;
		text-transform: uppercase;
	}
}
