@import 'variables';

.lyric-54 {
	background: lighten(#FEE16C,25%);
	text-align: center;
	height: 580px;
	
	p:first-of-type {
		@include absolute-center(900px);
		top: 15rem;
		font: 400 6rem/1.5em 'Oswald', sans-serif;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: -.06em;
		text-shadow: 0px 0px 8px rgba(0,0,0,.1);
	}
	
	p:last-of-type {
		@include absolute-center(800px);
		top: 16rem;
		font: 400 6.2rem/1.35em 'Grand Hotel', script;
    	color: #FEE16C;
	}
	
	h6 {
    font-size: 1.4rem;
		@include absolute-center(400px);
		bottom: 18rem;
		color: #999;
	}
	
}
