$white: #fff;
$charcoal: #444;
$black: #000;
$base-background: #555;
$base-text: #eee;

@mixin absolute-center($width) {
  position: absolute;
  width: $width;
  left: 50%;
  margin-left: -1 * $width * 0.5
}

@mixin absolute-total-center($width) {
  position: absolute;
  width: $width;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

